.lyralogo-icon {
  position: relative;
  width: 110px;
  height: 111px;
  flex-shrink: 0;
  overflow: hidden;
}
.lyra-web3-app {
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: 0.41px;
  line-height: 18px;
}
.web3-ecommerce-on {
  align-self: stretch;
}
.github-repo,
.network,
.web3-ecommerce-on {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.github-repo {
  text-decoration: underline;
  color: #0029ff;
}
.about,
.lyralogo-parent,
.network-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.network-parent {
  overflow: hidden;
  padding: var(--padding-4xs) 48px;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.about,
.lyralogo-parent {
  justify-content: center;
}
.lyralogo-parent {
  align-self: stretch;
  flex: 1;
  gap: 50px;
}
.about {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 909px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--black-0000001001);
  font-family: var(--regular-body1);
}
