.lyralogoIcon {
  position: relative;
  width: 110px;
  height: 111px;
  flex-shrink: 0;
  overflow: hidden;
}
.lyraWeb3App {
  position: relative;
  font-size: 32px;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.web3EcommerceOn {
  align-self: stretch;
}
.githubRepo,
.network,
.web3EcommerceOn {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.githubRepo {
  text-decoration: underline;
  color: #0029ff;
}
.about,
.lyralogoParent,
.networkParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.networkParent {
  overflow: hidden;
  padding: var(--padding-4xs) 48px;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.about,
.lyralogoParent {
  justify-content: center;
}
.lyralogoParent {
  align-self: stretch;
  flex: 1;
  gap: 50px;
}
.about {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 909px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--black-0000001001);
  font-family: var(--font-sf-pro-text);
}
