.a-legend-token1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.material-symbolsshare-icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.assertauthorsection1,
.material-symbolsshare-group {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.material-symbolsshare-group {
  padding: var(--padding-3xs);
  justify-content: flex-end;
  gap: var(--gap-3xl);
}
.assertauthorsection1 {
  align-self: stretch;
  background-color: var(--color-white1);
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-sm);
}
.meka-legends1 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.assertownersection1,
.asserttitlesection1 {
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.asserttitlesection1 {
  align-self: stretch;
  background-color: var(--color-white1);
  height: 48px;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-6xl);
}
.assertownersection1 {
  height: 24px;
  font-size: var(--font-size-base);
}
.assertownersection1,
.asserttitleregion1,
.icon-park-solidblockchain-container {
  align-self: stretch;
  background-color: var(--color-white1);
  display: flex;
  justify-content: flex-start;
}
.asserttitleregion1 {
  border-radius: var(--br-md);
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  gap: var(--gap-sm);
}
.icon-park-solidblockchain-container {
  height: 38px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  align-items: center;
}
.titlebannerregion-item {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.assertstatssection1,
.icoutline-remove-red-eye-group,
.pricelabel2 {
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icoutline-remove-red-eye-group {
  align-items: center;
  gap: var(--gap-xs);
}
.assertstatssection1,
.pricelabel2 {
  align-self: stretch;
}
.assertstatssection1 {
  border-radius: var(--br-md) var(--br-md) 0 0;
  padding: var(--padding-5xs);
  align-items: center;
  gap: var(--gap-2xl);
}
.pricelabel2 {
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
}
.div3 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.priceandvaluelabel2 {
  align-self: stretch;
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-4xs);
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-6xl);
}
.primary-button3 {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-6xl);
  background-color: var(--color-indigo-200);
  align-self: stretch;
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.prepare-sell-order-button18:hover {
  background-color: var(--color-indigo-100);
}
.descriptiontitle1,
.makeofferbutton1,
.priceandbuyregion1 {
  align-self: stretch;
  background-color: var(--color-white1);
  display: flex;
}
.makeofferbutton1,
.priceandbuyregion1 {
  flex-direction: column;
}
.makeofferbutton1 {
  overflow: hidden;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.descriptiontitle1,
.priceandbuyregion1 {
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.priceandbuyregion1 {
  align-items: flex-start;
}
.descriptiontitle1 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  align-items: center;
  font-size: var(--font-size-5xl);
}
.assertdetailview2,
.descriptiondetails1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.descriptiondetails1 {
  align-self: stretch;
  background-color: var(--color-white1);
  height: 93px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
}
.assertdetailview2 {
  position: relative;
  width: 100%;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black-000000100);
  font-family: var(--headline-s1);
}
