.a-legend-nft {
  flex: 1;
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.material-symbolsshare-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.assertauthorsection,
.material-symbolsshare-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.material-symbolsshare-parent {
  padding: var(--padding-4xs);
  justify-content: flex-end;
  gap: 24px;
}
.assertauthorsection {
  align-self: stretch;
  background-color: var(--color-white);
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-md);
}
.meka-legends {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.assertownersection,
.asserttitlesection1 {
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.asserttitlesection1 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 48px;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-8xl);
}
.assertownersection {
  height: 24px;
  font-size: var(--body-semibold-size);
}
.assertownersection,
.asserttitleregion,
.icon-park-solidblockchain-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
}
.asserttitleregion {
  border-radius: var(--br-sm);
  flex-direction: column;
  padding: var(--padding-6xs);
  align-items: flex-start;
  gap: var(--gap-md);
}
.icon-park-solidblockchain-wrapper {
  height: 38px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-6xs) 0;
  box-sizing: border-box;
  align-items: center;
}
.titlebannerregion-child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.assertstatssection,
.icoutline-remove-red-eye-parent {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icoutline-remove-red-eye-parent {
  gap: var(--gap-xs);
}
.assertstatssection {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  padding: var(--padding-6xs);
  gap: var(--gap-4xl);
}
.assertdetailview1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.descriptiondetails,
.descriptiontitle,
.pricelabel {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.descriptiontitle {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-gainsboro-300);
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  gap: var(--gap-md);
  font-size: var(--font-size-7xl);
}
.descriptiondetails,
.pricelabel {
  background-color: var(--color-white);
  align-items: flex-start;
}
.descriptiondetails {
  height: 93px;
  flex-shrink: 0;
  padding: var(--padding-md) var(--padding-4xl);
  box-sizing: border-box;
}
.pricelabel {
  align-self: stretch;
  padding: 0 var(--padding-6xs);
}
.div7,
.tetherusdt {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.div7 {
  font-size: var(--uppercase-small-size);
  font-weight: 500;
  color: var(--color-dimgray-100);
}
.tetherusdt-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.priceandvaluelabel {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-8xl);
  color: var(--black-000000100);
}
.priceandbuyregion,
.pricelabel1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.priceandbuyregion {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.pricelabel1 {
  overflow: hidden;
  flex-direction: row;
}
.priceandvaluelabel1,
.pricelabel1,
.setlimitsection {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
}
.priceandvaluelabel1 {
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-7xl);
  color: var(--black-000000100);
}
.setlimitsection {
  flex-direction: column;
  padding: 0 var(--padding-6xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.selectedamount {
  border: 0;
  background-color: transparent;
  flex: 1;
}
.tethereth1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  color: var(--black-000000100);
}
.selectedamount-parent,
.tethereth-group {
  display: flex;
  justify-content: center;
}
.tethereth-group {
  flex-direction: column;
  align-items: flex-end;
}
.selectedamount-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-4xl);
}
.max {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  text-align: center;
}
.limitadjustsection {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-300);
}
.frame-container,
.pricelabel-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  padding: 0 var(--padding-7xs);
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--color-dimgray-100);
}
.pricelabel-parent {
  align-self: stretch;
  padding: 0 var(--padding-6xs);
  gap: var(--gap-2xs);
}
.primary-button2 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.prepare-sell-order-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-6xl);
  background-color: var(--primary);
  align-self: stretch;
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.prepare-sell-order-button5:hover {
  background-color: var(--color-mediumslateblue-100);
}
.buysection,
.makeofferbutton {
  display: flex;
  flex-direction: column;
}
.makeofferbutton {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-4xs);
  align-items: center;
  justify-content: center;
}
.buysection {
  padding: var(--padding-6xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-dimgray-300);
}
.this-order-is {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 334px;
  flex-shrink: 0;
}
.assertdetailview,
.descriptiondetails1 {
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.descriptiondetails1 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-4xl);
}
.assertdetailview {
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black-000000100);
  font-family: var(--caption);
}
