.iconleft4 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
}
.mini-programs-buttons8,
.title9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.mini-programs-buttons8 {
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.title9 {
  flex: 1;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--black-000000100);
  text-align: center;
  display: inline-block;
}
.stroke4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 0.5px solid var(--black-000000100);
  box-sizing: border-box;
  opacity: 0.08;
}
.ellipse-icon8 {
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 5%;
  bottom: 6.25%;
  left: 7.5%;
  max-width: 100%;
  max-height: 100%;
}
.ellipse-icon8,
.ellipse-icon9,
.home4 {
  position: absolute;
  overflow: hidden;
}
.ellipse-icon9 {
  height: 30%;
  width: 30%;
  top: 35%;
  right: 33.75%;
  bottom: 35%;
  left: 36.25%;
  max-width: 100%;
  max-height: 100%;
}
.home4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6px;
  left: 55px;
  width: 20px;
  height: 20px;
}
.separator-icon4 {
  position: absolute;
  top: 6.65px;
  left: 43.32px;
  width: 0.35px;
  height: 18.7px;
  opacity: 0.2;
}
.navigationprepare-sell-order-child8 {
  position: absolute;
  height: 76.67%;
  width: 76.67%;
  top: 11.67%;
  right: 11.67%;
  bottom: 11.67%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navigationprepare-sell-order-child10,
.navigationprepare-sell-order-child9 {
  position: absolute;
  height: 10%;
  width: 35%;
  top: 45%;
  right: 32.5%;
  bottom: 45%;
  left: 32.5%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navigationprepare-sell-order-child10 {
  height: 35%;
  width: 10%;
  top: 32.5%;
  right: 45%;
  bottom: 32.5%;
  left: 45%;
}
.navigationprepare-sell-order4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 12px;
  width: 20px;
  height: 20px;
}
.mini-programs-buttons9 {
  position: relative;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
}
.navigation24 {
  background-color: var(--white);
  width: 375px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs) var(--padding-6xs)
    var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.a-legend-nft {
  flex: 1;
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.material-symbolsshare-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.assertauthorsection,
.material-symbolsshare-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.material-symbolsshare-parent {
  padding: var(--padding-2xs);
  justify-content: flex-end;
  gap: var(--gap-4xl);
}
.assertauthorsection {
  align-self: stretch;
  background-color: var(--white);
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-md);
}
.meka-legends {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.assertownersection,
.asserttitlesection {
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.asserttitlesection {
  align-self: stretch;
  background-color: var(--white);
  height: 48px;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-7xl);
}
.assertownersection {
  height: 24px;
  font-size: var(--body-semibold-size);
}
.assertownersection,
.asserttitleregion,
.icon-park-solidblockchain-wrapper {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
}
.asserttitleregion {
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: var(--padding-4xs);
  align-items: flex-start;
  gap: var(--gap-md);
}
.icon-park-solidblockchain-wrapper {
  height: 38px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xs) 0;
  box-sizing: border-box;
  align-items: center;
}
.titlebannerregion-child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.assertstatssection,
.icoutline-remove-red-eye-parent {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.assertstatssection {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  padding: var(--padding-4xs);
  gap: var(--gap-3xl);
}
.assertdetailview1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.descriptiondetails,
.descriptiontitle,
.pricelabel {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.descriptiontitle {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-300);
  padding: var(--padding-xs) var(--padding-md);
  align-items: center;
  gap: var(--gap-md);
  font-size: var(--font-size-6xl);
}
.descriptiondetails,
.pricelabel {
  background-color: var(--white);
  align-items: flex-start;
}
.descriptiondetails {
  height: 93px;
  flex-shrink: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
}
.pricelabel {
  align-self: stretch;
  padding: 0 var(--padding-4xs);
}
.div4,
.tetherusdt {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.div4 {
  font-size: var(--uppercase-small-size);
  font-weight: 500;
  color: var(--color-dimgray-100);
}
.tetherusdt-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.priceandbuyregion,
.priceandvaluelabel {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
}
.priceandvaluelabel {
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-7xl);
  color: var(--black-000000100);
}
.priceandbuyregion {
  border-radius: var(--br-xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.priceandvaluelabel1,
.pricelabel1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
}
.pricelabel1 {
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceandvaluelabel1 {
  padding: 0 var(--padding-7xs);
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-6xl);
  color: var(--black-000000100);
}
.priceandvaluelabel1,
.selectedamount,
.setlimitsection {
  background-color: var(--white);
  display: flex;
}
.setlimitsection {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.selectedamount {
  border: 1px solid #cacaca;
  font-weight: 500;
  font-family: var(--caption);
  font-size: 1.5em;
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xs);
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
.tethereth1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  color: var(--black-000000100);
}
.selectedamount-parent,
.tethereth-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.selectedamount-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xl);
}
.slidercontinuous {
  flex: 1;
}
.max {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  text-align: center;
}
.limitadjustsection {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-300);
}
.frame-parent1,
.pricelabel-parent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  width: 380px;
  padding: 0 var(--padding-7xs);
  gap: var(--gap-2xs);
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--color-dimgray-100);
}
.pricelabel-parent {
  width: 400px;
  padding: 0 var(--padding-4xs);
  gap: var(--gap-md);
}
.primary-button3 {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--white);
  text-align: center;
}
.prepare-sell-order-button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-7xl);
  background-color: var(--primary1);
  align-self: stretch;
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.prepare-sell-order-button6:hover {
  background-color: var(--color-mediumslateblue);
}
.buysection,
.makeofferbutton {
  width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.makeofferbutton {
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-2xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.buysection {
  padding: var(--padding-4xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-dimgray-300);
}
.this-order-is {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 334px;
  flex-shrink: 0;
}
.descriptiondetails1 {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.assertdetailview,
.assertdetailview-parent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}
.assertdetailview-parent {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.assertdetailview {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1899px;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black-000000100);
  font-family: var(--caption);
}
