.create-tot,
.tot-name {
  font-family: var(--caption1);
  position: absolute;
}
.create-tot {
  top: calc(50% - 280.5px);
  left: calc(50% - 148.5px);
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.tot-name {
  border: 0;
  font-size: var(--body-s-size);
  background-color: var(--color-beige);
  top: 115px;
  left: 19px;
  border-radius: var(--br-sm);
  width: 301px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.selecttypeoftot {
  position: absolute;
  top: 58px;
  left: 19px;
}
.tot-supply {
  border: 0;
  font-family: var(--caption1);
  font-size: var(--body-s-size);
  background-color: var(--color-beige);
  top: 312px;
  left: 19px;
  width: 301px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.frame-div2,
.tot-description2,
.tot-supply {
  position: absolute;
  border-radius: var(--br-sm);
}
.tot-description2 {
  border: 0;
  font-family: var(--caption1);
  font-size: var(--body-s-size);
  background-color: var(--color-beige);
  top: 171px;
  left: 19px;
  width: 301px;
  height: 124px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div2 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.sign-trade-secretoptional {
  position: absolute;
  top: calc(50% - 8.5px);
  left: calc(50% - 93px);
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--black-000000100);
  text-align: center;
  display: inline-block;
}
.sign-trade-secret-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 369px;
  left: 19px;
  width: 228px;
  height: 33px;
}
.note-i-need-to-send-trade-sec {
  position: absolute;
  top: 419px;
  left: 19px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--caption1);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 292px;
}
.rectangle-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  width: 209px;
  height: 33px;
}
.create-tot1 {
  position: absolute;
  top: 8px;
  left: 65px;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--black-000000100);
  text-align: center;
  display: inline-block;
}
.create-tot-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 472px;
  left: 19px;
  width: 209px;
  height: 33px;
}
.createtotform {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 599px;
  overflow: hidden;
}
