.create-and-sell {
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--black-0000001001);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.tot-name {
  border: 0;
  background-color: transparent;
}
.note-i-need {
  position: relative;
  font-size: var(--body-semibold-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--regular-body1);
  color: var(--black-0000001001);
  text-align: left;
  display: inline-block;
  width: 292px;
}
.createtotform,
.createtottosellform {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.createtottosellform {
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-sm);
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.createtotform {
  position: relative;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  justify-content: center;
}
