.success {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 296px;
}
.illus8-icon {
  position: relative;
  width: 213px;
  height: 209px;
  flex-shrink: 0;
}
.you-order-tx-hash-is {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 292px;
}
.blvm6g1jjkwuz8ocens7fuuswjqdr3 {
  font-size: var(--caption1-size);
  font-weight: 100;
}
.blvm6g1jjkwuz8ocens7fuuswjqdr3,
.secondary-button,
.view-on-block-explorer {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.view-on-block-explorer {
  text-decoration: underline;
  color: inherit;
  width: 292px;
}
.secondary-button {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.createordersuccessform,
.prepare-sell-order-button1 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--secondary);
  border-radius: var(--br-xl);
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.createordersuccessform {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-3xs);
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
