.mint-token {
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--black-0000001001);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.token-name {
  border: 0;
  background-color: transparent;
}
.createtokenform {
  position: relative;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
