.success {
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 296px;
}
.illus8Icon {
  position: relative;
  width: 213px;
  height: 209px;
  flex-shrink: 0;
}
.youOrderTx {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 292px;
}
.blvm6g1jjkwuz8ocens7fuuswjqdr3 {
  font-size: var(--caption-size);
  font-weight: 100;
}
.blvm6g1jjkwuz8ocens7fuuswjqdr3,
.secondaryButton,
.viewOnBlock {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.viewOnBlock {
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 292px;
}
.secondaryButton {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--white1);
  text-align: center;
}
.prepareSellOrderButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-4xl);
  background-color: var(--secondary1);
  border-radius: var(--br-lg);
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createordersuccessform,
.successParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.successParent {
  flex: 1;
  justify-content: center;
  gap: var(--gap-4xl);
}
.createordersuccessform {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 926px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--body-semibold-size);
  color: var(--black-0000001001);
  font-family: var(--regular-body1);
}
