.frame-child,
.illus1-child {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.illus1-child {
  height: 78.89%;
  width: 99.75%;
  top: 11.06%;
  right: 0;
  bottom: 10.05%;
  left: 0.25%;
  opacity: 0.08;
  mix-blend-mode: normal;
}
.frame-child {
  height: 88.36%;
  width: 98.35%;
  top: 0.17%;
  right: 0.23%;
  bottom: 11.47%;
  left: 1.42%;
}
.r {
  letter-spacing: -0.08px;
}
.e {
  letter-spacing: -0.09px;
}
.t {
  letter-spacing: -0.11px;
}
.a {
  letter-spacing: -0.03px;
}
.cc {
  letter-spacing: -0.05px;
}
.create-account {
  position: absolute;
  width: 18.85%;
  top: calc(50% - 43.68px);
  left: 43.46%;
  display: inline-block;
  height: 14px;
}
.fill-43-icon {
  position: absolute;
  height: 2.99%;
  width: 13.36%;
  top: 73.42%;
  right: 40.72%;
  bottom: 23.59%;
  left: 45.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email-address-icon {
  position: relative;
  width: 17.85px;
  height: 1.94px;
}
.youremailgmailc-icon {
  position: relative;
  width: 24.55px;
  height: 2.45px;
}
.frame-item {
  position: absolute;
  height: 8.4%;
  width: 24.79%;
  top: 38.5%;
  right: 34.08%;
  bottom: 53.1%;
  left: 41.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.your-text-icon {
  position: relative;
  width: 11.05px;
  height: 1.83px;
}
.frame-inner {
  position: absolute;
  height: 8.33%;
  width: 24.79%;
  top: 47.23%;
  right: 34.08%;
  bottom: 44.44%;
  left: 41.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.your-city-icon {
  position: relative;
  width: 11.21px;
  height: 2.44px;
}
.group-icon {
  position: absolute;
  height: 8.11%;
  width: 24.79%;
  top: 55.89%;
  right: 34.08%;
  bottom: 36%;
  left: 41.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.entry-password-icon {
  position: relative;
  width: 19.2px;
  height: 2.44px;
}
.frame-child1,
.group-parent {
  position: absolute;
  overflow: hidden;
}
.frame-child1 {
  height: 61.15%;
  width: 70.96%;
  top: 38.6%;
  right: 29.04%;
  bottom: 0.25%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.group-parent {
  height: 75.63%;
  width: 75.8%;
  top: 12.06%;
  right: 12.1%;
  bottom: 12.31%;
  left: 12.1%;
}
.illus1 {
  position: relative;
  width: 252px;
  height: 252px;
  flex-shrink: 0;
}
.wallet-name {
  border: 0;
  background-color: transparent;
  position: relative;
}
.checkboxrestoreprivatekey-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.primary-button1 {
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--white1);
  text-align: center;
}
.prepare-sell-order-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-6xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button3:hover {
  background-color: var(--color-mediumslateblue);
}
.mini-button {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--color-darkslategray-300);
  text-align: center;
}
.prepare-sell-order-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl);
  background-color: var(--color-whitesmoke-300);
  border-radius: var(--br-lg);
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createwallet,
.illus1-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.illus1-parent {
  flex: 1;
  gap: var(--gap-4xl);
}
.createwallet {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 909px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
  text-align: center;
  font-size: 6.03px;
  color: #34336c;
  font-family: var(--font-montserrat);
}
