.rectangle1 {
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-200);
  width: 5px;
}
.rectangle-container,
.wallet-card-child {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-container {
  overflow: hidden;
  flex-direction: column;
}
.wallet-card-child {
  background-color: var(--text-primary-dark);
  width: 18px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-6xs) 0;
  box-sizing: border-box;
}
.wallet-name-label1 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-sf-pro-text);
  color: var(--color-brown-200);
  text-align: right;
  width: 206px;
}
.balance-display-zone-inner {
  position: relative;
  border-top: 1px solid var(--info);
  box-sizing: border-box;
  width: 126px;
  height: 1px;
  flex-shrink: 0;
}
.lyrlabel1,
.usdtbalance2 {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.3px;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: right;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
}
.lyrlabel1 {
  font-size: var(--font-size-2xs);
  color: var(--color-brown-200);
  text-align: left;
}
.rectangle-div {
  position: relative;
  background-color: var(--color-gray-1400);
  width: 22px;
  height: 2px;
  flex-shrink: 0;
}
.balance-display-zone1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-6xs) var(--padding-5xs) 0;
  background-color: var(--text-primary-dark);
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.qrcode-button-round1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-pink);
  opacity: 0.5;
  mix-blend-mode: normal;
}
.qrcode-icon1 {
  position: absolute;
  top: 14.33px;
  right: 14.07px;
  width: 29px;
  height: 29px;
}
.qrcode-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 56.78px;
  height: 56.78px;
  flex-shrink: 0;
  overflow: hidden;
}
.balance-display-zone-group,
.qrcode-button-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.qrcode-button-container {
  background-color: var(--text-primary-dark);
  overflow: hidden;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
}
.balance-display-zone-group {
  flex: 1;
}
.wallet-card-inner1,
.wallet-card1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wallet-card-inner1 {
  flex: 1;
  flex-direction: column;
}
.wallet-card1 {
  border-radius: var(--br-sm);
  background-color: var(--text-primary-dark);
  height: 94px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.home-icon-interlocution5 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.ranking5 {
  position: relative;
  font-size: var(--caption1-size);
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
}
.dex-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white1);
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ranking8 {
  position: relative;
  font-size: var(--other-m-size);
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
}
.swap-button-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.iconssection-container,
.iconssection1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.iconssection1 {
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.iconssection-container {
  align-items: flex-start;
  justify-content: flex-start;
}
.searchsection,
.searchsection-child {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.searchsection-child {
  border: 0;
  background-color: var(--color-beige);
  flex: 1;
  border-radius: 60px;
  height: 47px;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.searchsection {
  align-self: stretch;
  background-color: var(--color-white1);
  align-items: flex-start;
  justify-content: center;
}
.token1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  z-index: 0;
}
.div2,
.group-inner {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
}
.div2 {
  top: calc(50% - 7px);
  font-size: var(--font-size-3xs);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
  width: 10px;
  height: 12px;
}
.ellipse-container {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14px);
  left: calc(50% + 22.5px);
  width: 11px;
  height: 14px;
  flex-shrink: 0;
  z-index: 1;
}
.nft-tab1,
.tokentab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 0;
  background-color: var(--text-secondary1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.nft-tab1 {
  overflow: hidden;
}
.fiat1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.fiat-tab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 0;
  background-color: var(--text-secondary1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.catalogtab1,
.tradableorderssection1 {
  background-color: var(--color-gray-200);
}
.catalogtab1 {
  width: 424px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.tradableorderssection1 {
  align-self: stretch;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  padding: var(--padding-xs) var(--padding-5xs) 0;
}
.market,
.orderandcatalog,
.tradableorderssection1,
.tradableorderssection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tradableorderssection2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-gray-200);
  padding: var(--padding-xs) var(--padding-5xs);
  gap: var(--gap-lg);
}
.market,
.orderandcatalog {
  background-color: var(--color-white1);
}
.orderandcatalog {
  align-self: stretch;
}
.market {
  position: relative;
  width: 100%;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
