.maps-icon {
  position: relative;
  width: 711.29px;
  height: 378.54px;
  flex-shrink: 0;
  z-index: 0;
}
.lyrbalance,
.lyrlabel {
  position: relative;
  letter-spacing: 0.3px;
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
}
.lyrbalance {
  width: 228px;
  height: 29px;
  flex-shrink: 0;
}
.lyrlabel {
  font-size: var(--font-size-2xs);
  color: var(--color-gray-200);
  text-align: left;
}
.balance-display-zone-child {
  position: relative;
  background-color: transparent;
  width: 22px;
  height: 20px;
  flex-shrink: 0;
}
.balance-display-zone,
.usdtbalance {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}
.usdtbalance {
  position: relative;
  letter-spacing: 0.3px;
  width: 73px;
  height: 29px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
}
.balance-display-zone {
  text-decoration: none;
  margin: 0 !important;
  position: absolute;
  top: 58.5px;
  right: 147px;
  width: 228px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-0);
  z-index: 1;
  color: inherit;
}
.nft-count,
.nft-label {
  position: relative;
  display: inline-block;
  font-family: var(--font-sf-pro-text);
  text-align: center;
}
.nft-count {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-3xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  color: var(--color-white1);
  width: 24px;
  height: 21px;
  flex-shrink: 0;
}
.nft-label {
  font-size: var(--font-size-2xs);
  color: var(--color-gray-200);
}
.go-nft-button,
.tot-count {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-shrink: 0;
}
.go-nft-button {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.tot-count {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
  width: 12px;
  height: 21px;
}
.maps-parent,
.token-lists {
  display: flex;
  flex-direction: row;
}
.token-lists {
  margin: 0 !important;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% - 97.5px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xl);
  z-index: 2;
}
.maps-parent {
  border-radius: var(--br-md);
  background: radial-gradient(50% 50%at 50% 50%, #395851, #0051ed);
  width: 423px;
  height: 247px;
  flex-shrink: 0;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-lg);
  z-index: 0;
}
.wallet-name-label {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 21.5px;
  left: 71px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: right;
  display: inline-block;
  width: 206px;
  flex-shrink: 0;
  z-index: 1;
}
.qrcode-button-round {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 32.5px;
  background-color: #dfe0e5;
  opacity: 0.5;
  mix-blend-mode: normal;
  cursor: pointer;
}
.qrcode-icon {
  position: absolute;
  top: 14.33px;
  right: 14.07px;
  width: 29px;
  height: 29px;
}
.qrcode-button,
.wallet-decoration {
  position: absolute;
  margin: 0 !important;
}
.qrcode-button {
  top: 24px;
  right: 42.22px;
  width: 56.78px;
  height: 56.78px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}
.wallet-decoration {
  width: 23.35%;
  top: calc(50% + 43.5px);
  left: 1.88%;
  font-size: 6px;
  letter-spacing: 4.47px;
  line-height: 13px;
  text-align: left;
  display: inline-block;
  height: 17.35px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 3;
}
.rectangle,
.rectangle1 {
  position: absolute;
  margin: 0 !important;
  height: 6.37%;
  width: 1.26%;
  top: 10.04%;
  right: 95.92%;
  bottom: 83.59%;
  left: 2.82%;
  border-radius: var(--br-2xs);
  background-color: var(--color-white1);
  z-index: 4;
}
.rectangle1 {
  top: 83.53%;
  bottom: 10.09%;
  z-index: 5;
}
.mask-group {
  border-radius: var(--br-md);
  background-color: var(--black-000000100);
  width: 424px;
  height: 247px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-0);
}
.bannersection,
.walletcard {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.walletcard {
  flex: 1;
  justify-content: center;
}
.bannersection {
  align-self: stretch;
  background-color: var(--color-white1);
  height: 282px;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: flex-start;
}
.home-icon-interlocution {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.ranking {
  position: relative;
  font-size: var(--other-m-size);
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
}
.dao-button,
.dao-button-parent {
  background-color: var(--color-white1);
  display: flex;
}
.dao-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
}
.dao-button-parent {
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.iconssection {
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.icbaseline-generating-tokens-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.token {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  width: 71px;
}
.select-token-catalog-button,
.token-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select-token-catalog-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl) var(--padding-4xl);
  background-color: var(--tertiary);
  border-radius: var(--br-sm);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.fiat,
.goods {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  width: 73px;
}
.goods {
  width: 74px;
}
.tradecatalog {
  background-color: var(--color-white1);
  overflow: hidden;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.catalogselectionhorizontal,
.tradecatalog {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.order-image-child {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--sell1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.open {
  position: relative;
  font-size: var(--caption1-size);
  display: inline-block;
  font-family: var(--font-calibri);
  color: var(--color-white1);
  text-align: center;
}
.order-status {
  align-self: stretch;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.banner-image,
.order-banner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.order-banner {
  gap: var(--gap-0);
}
.banner-image {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.btc {
  position: relative;
  display: inline-block;
}
.frame-child {
  position: relative;
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt {
  position: relative;
  display: inline-block;
  text-align: left;
}
.sell-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  font-size: var(--font-size-xl);
}
.title-section-child {
  position: relative;
  border-top: 1px solid var(--text-secondary1);
  box-sizing: border-box;
  width: 128px;
  height: 1px;
  flex-shrink: 0;
}
.am-wrapper,
.block1,
.block2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.am-wrapper {
  align-self: stretch;
  background-color: var(--color-white1);
  overflow: hidden;
  flex-direction: row;
  text-align: left;
}
.block1,
.block2 {
  flex-direction: column;
  gap: var(--gap-0);
}
.block2 {
  overflow: hidden;
  align-items: flex-end;
}
.details-section-child {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.block3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.details-section,
.title-section {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.details-section {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.title-section {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
}
.order-brief-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.width-controller {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.catalogselectionhorizontal-parent,
.market,
.ordercard {
  background-color: var(--color-white1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ordercard {
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  padding: var(--padding-4xs);
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.catalogselectionhorizontal-parent,
.market {
  align-items: center;
}
.catalogselectionhorizontal-parent {
  overflow: hidden;
  padding: var(--padding-xs) var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--caption1-size);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
.market {
  position: relative;
  width: 100%;
  height: 865px;
  gap: var(--gap-0);
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-white1);
  font-family: var(--font-sf-pro-text);
}
