.iconssection {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-6xs);
  align-items: center;
  justify-content: center;
}
.iconssection-wrapper {
  width: 449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchsection,
.searchsection-child {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.searchsection-child {
  border: 0;
  background-color: var(--color-lightyellow);
  flex: 1;
  border-radius: 60px;
  height: 47px;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.searchsection {
  background-color: var(--color-white);
  width: 449px;
  align-items: flex-start;
  justify-content: center;
}
.market,
.orderandcatalog,
.tradableorderssection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tradableorderssection {
  align-self: stretch;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-2xs) var(--padding-6xs);
  gap: var(--gap-md);
}
.market,
.orderandcatalog {
  background-color: var(--color-white);
  width: 449px;
}
.market {
  position: relative;
  width: 100%;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-md);
}
