.maps-icon {
  position: relative;
  width: 711.29px;
  height: 378.54px;
  flex-shrink: 0;
  z-index: 0;
}
.lyrlabel2,
.usdtbalance3 {
  position: relative;
  letter-spacing: 0.3px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
}
.lyrlabel2 {
  font-size: var(--font-size-2xs);
  color: var(--color-brown-200);
  text-align: left;
}
.balance-display-zone-child1 {
  position: relative;
  background-color: var(--color-gray-1300);
  width: 22px;
  height: 8px;
  flex-shrink: 0;
}
.balance-display-zone2 {
  text-decoration: none;
  margin: 0 !important;
  position: absolute;
  top: 58.5px;
  right: 147px;
  width: 228px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) 0 var(--padding-6xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  color: inherit;
}
.nft-count1,
.nft-label1 {
  position: relative;
  font-family: var(--font-sf-pro-text);
  text-align: center;
}
.nft-count1 {
  font-size: var(--font-size-3xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  color: var(--color-white1);
  display: inline-block;
  width: 24px;
  height: 21px;
  flex-shrink: 0;
  cursor: pointer;
}
.nft-label1 {
  font-size: var(--font-size-2xs);
  color: var(--color-brown-200);
}
.go-nft-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs);
}
.tot-count1 {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
  width: 12px;
  height: 21px;
  flex-shrink: 0;
  cursor: pointer;
}
.maps-parent,
.token-lists1 {
  display: flex;
  flex-direction: row;
}
.token-lists1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% + 60px);
  left: calc(50% - 81px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  z-index: 2;
}
.maps-parent {
  border-radius: var(--br-sm);
  width: 423px;
  height: 247px;
  flex-shrink: 0;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-md);
  z-index: 0;
}
.wallet-name-label2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 21.5px;
  left: 71px;
  font-size: var(--font-size-4xl);
  font-weight: 700;
  font-family: var(--font-sf-pro-text);
  color: var(--color-brown-200);
  text-align: right;
  display: inline-block;
  width: 206px;
  flex-shrink: 0;
  z-index: 1;
}
.qrcode-button-round2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-pink);
  opacity: 0.5;
  mix-blend-mode: normal;
  cursor: pointer;
}
.qrcode-icon2 {
  position: absolute;
  top: 14.33px;
  right: 14.07px;
  width: 29px;
  height: 29px;
}
.qrcode-button2,
.wallet-decoration {
  position: absolute;
  margin: 0 !important;
}
.qrcode-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 21.5px;
  right: 19.72px;
  width: 56.78px;
  height: 56.78px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 2;
}
.wallet-decoration {
  width: 23.35%;
  top: calc(50% + 43.5px);
  left: 1.88%;
  font-size: 6px;
  letter-spacing: 4.47px;
  line-height: 13px;
  text-align: left;
  display: inline-block;
  height: 17.35px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 3;
}
.rectangle2,
.rectangle3 {
  position: absolute;
  margin: 0 !important;
  height: 6.37%;
  width: 1.26%;
  top: 10.04%;
  right: 95.92%;
  bottom: 83.59%;
  left: 2.82%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white1);
  z-index: 4;
}
.rectangle3 {
  top: 83.53%;
  bottom: 10.09%;
  z-index: 5;
}
.mask-group {
  border-radius: var(--br-sm);
  background-color: var(--black-000000100);
  width: 424px;
  height: 247px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.bannersection,
.walletcard {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.walletcard {
  flex: 1;
  justify-content: center;
}
.bannersection {
  align-self: stretch;
  background-color: var(--color-white1);
  height: 282px;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: flex-start;
}
.home-icon-interlocution6 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.ranking6 {
  position: relative;
  font-size: var(--other-m-size);
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
}
.invest-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white1);
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: column;
}
.dao-button-parent,
.iconssection1,
.invest-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dao-button-parent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-5xl);
}
.iconssection1 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-100);
  width: 424px;
  flex-direction: column;
  padding: var(--padding-7xs);
  box-sizing: border-box;
}
.dex-button-parent {
  background-color: var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.iconssection2 {
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-gray-100);
  width: 424px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.token2 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  z-index: 0;
}
.div13,
.group-child1 {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
}
.div13 {
  top: calc(50% - 7px);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 10px;
  height: 12px;
}
.ellipse-parent1 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14px);
  left: calc(50% + 22.5px);
  width: 11px;
  height: 14px;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-3xs);
  color: var(--color-white1);
}
.nft-container,
.token-container {
  border-radius: var(--br-md) var(--br-md) 0 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.nft-container {
  overflow: hidden;
}
.fiat2 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.catalogtab2,
.fiat-frame {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fiat-frame {
  border-radius: var(--br-md) var(--br-md) 0 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 32px;
  flex-shrink: 0;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: flex-end;
}
.catalogtab2 {
  background-color: var(--color-white1);
  width: 424px;
  align-items: center;
  gap: var(--gap-xs);
}
.icbaseline-generating-tokens-icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-inner {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image2 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--text-primary-dark);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.open2 {
  position: relative;
  font-size: var(--caption1-size);
  font-family: var(--font-calibri);
  color: var(--color-white1);
  text-align: center;
}
.order-status2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--info);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image2,
.order-banner2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-sm);
}
.arrow-icon,
.sell3 {
  position: relative;
}
.arrow-icon {
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt3 {
  position: relative;
  text-align: left;
}
.block32,
.block42,
.sell-container {
  display: flex;
  justify-content: flex-start;
}
.sell-container {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.block32,
.block42 {
  overflow: hidden;
  flex-direction: column;
}
.block32 {
  padding: 0 0 var(--padding-8xs);
  align-items: flex-start;
}
.block42 {
  align-items: flex-end;
}
.price2 {
  position: relative;
  display: inline-block;
  width: 66px;
}
.block12,
.block22 {
  width: 55px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block22 {
  width: 73px;
  overflow: hidden;
  align-items: flex-end;
  font-size: var(--font-size-5xl);
  color: var(--color-green-200);
}
.details-section-inner {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.details-section2,
.title-section2 {
  display: flex;
  justify-content: flex-start;
}
.details-section2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
  font-size: var(--caption1-size);
}
.title-section2 {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  border-radius: var(--br-2xs) var(--br-2xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
  color: inherit;
}
.order-brief-section2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
}
.width-controller2 {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section2 {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userprofilesection-inner {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.the-first-dao2 {
  position: relative;
  font-size: var(--caption1-size);
}
.a-big-seller-container,
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-big-seller-container {
  flex: 1;
  padding: var(--padding-8xs) var(--padding-9xl) var(--padding-8xs) 0;
  align-items: flex-start;
}
.container {
  padding: var(--padding-8xs) var(--padding-5xs);
  align-items: flex-end;
}
.market1,
.ordercard2,
.tradableorderssection2,
.userprofilesection2 {
  background-color: var(--color-white1);
  display: flex;
  justify-content: flex-start;
}
.userprofilesection2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-3xl);
}
.market1,
.ordercard2,
.tradableorderssection2 {
  flex-direction: column;
}
.ordercard2 {
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-5xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: right;
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
.market1,
.tradableorderssection2 {
  align-items: center;
}
.tradableorderssection2 {
  border-radius: var(--br-sm);
  width: 437px;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-md);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--text-primary-dark);
  font-family: var(--headline-s1);
}
.market1 {
  position: relative;
  width: 100%;
  text-align: right;
  font-size: var(--font-size-6xl);
  color: var(--color-white1);
  font-family: var(--font-sf-pro-text);
}
