.printFiatFor {
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--black-0000001001);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.domainName {
  border: 0;
  background-color: transparent;
}
.secondaryButton {
  position: relative;
  font-size: var(--body-m-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--white1);
  text-align: center;
}
.mintFiatToken,
.prepareSellOrderButton {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepareSellOrderButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-4xl);
  background-color: var(--secondary1);
  border-radius: var(--br-lg);
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.mintFiatToken {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-4xs);
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
