.print-fiat-for {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.domain-name {
  border: 0;
  background-color: transparent;
}
.secondary-button {
  position: relative;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.mint-fiat-token,
.prepare-sell-order-button5 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-3xl);
  background-color: var(--color-deeppink);
  border-radius: var(--br-lg);
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.mint-fiat-token {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-6xs);
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
