.nft-showing-item-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.buttons-group,
.frame-container,
.nft-showing-item-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-container {
  flex-direction: column;
}
.frame-container,
.mintfiatdialog-parent {
  align-items: flex-start;
  gap: var(--gap-md);
}
.mintfiatdialog-parent,
.misccomponents {
  display: flex;
  justify-content: flex-start;
}
.mintfiatdialog-parent {
  flex-direction: row;
}
.buttons-group {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-2xs);
  align-items: center;
  gap: var(--gap-lg);
}
.misccomponents {
  overflow: hidden;
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1414px;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-md);
}
