.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 623px;
  height: 1007px;
  object-fit: cover;
}
.oldv1ui {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 995px;
  overflow: hidden;
}
