.sign-in {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 41px;
  display: inline-block;
}
.illus5-copy-icon {
  position: relative;
  width: 252px;
  height: 252px;
  flex-shrink: 0;
}
.password,
.wallet-name1 {
  position: relative;
}
.password {
  border: 0;
  background-color: transparent;
}
.button-shape1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--sell1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.label {
  position: absolute;
  width: 90.67%;
  top: calc(50% - 11px);
  left: 4.66%;
  font-size: var(--headline-s1-size);
  letter-spacing: 0.41px;
  line-height: 22px;
  font-weight: 600;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.forgot-password-copy-2,
.open-wallet-button,
.sign-up1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.open-wallet-button {
  width: 164px;
  height: 50px;
  flex-shrink: 0;
}
.forgot-password-copy-2,
.sign-up1 {
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--caption1);
  text-align: center;
  display: inline-block;
}
.sign-up1 {
  font-size: var(--body-s-size);
  font-weight: 600;
  color: var(--color-gray-11);
}
.forgot-password-copy-2 {
  font-size: var(--caption1-size);
  font-weight: 500;
  color: rgba(127, 133, 146, 0.5);
}
.openwallet,
.sign-up-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 82px;
}
.openwallet {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-md);
  gap: 39px;
  text-align: center;
  font-size: var(--large-title-size);
  color: var(--sell1);
  font-family: var(--caption1);
}
