.illus5-copy-icon {
  position: relative;
  width: 252px;
  height: 252px;
  flex-shrink: 0;
}
.password,
.wallet-name1 {
  position: relative;
}
.password {
  border: 0;
  background-color: transparent;
}
.primary-button8 {
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--white1);
  text-align: center;
}
.prepare-sell-order-button16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-6xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button16:hover {
  background-color: var(--color-mediumslateblue);
}
.mini-button1 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--color-darkslategray-300);
  text-align: center;
}
.prepare-sell-order-button17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl);
  background-color: var(--color-whitesmoke-300);
  border-radius: var(--br-lg);
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.forgot-password-copy {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: rgba(127, 133, 146, 0.5);
  text-align: center;
  display: inline-block;
}
.illus5-copy-parent,
.openwallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.illus5-copy-parent {
  flex: 1;
  gap: var(--gap-4xl);
}
.openwallet {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 909px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
