.preview-sell-order {
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.im-selling,
.preview-sell-order {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 300px;
}
.nft-name {
  width: 320px;
  flex-shrink: 0;
  font-size: var(--body-s-size);
}
.nft-name,
.nft-name2 {
  border-radius: var(--br-xs);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.amount,
.x {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.x {
  font-size: var(--body-semibold-size);
}
.amount {
  display: inline-block;
  width: 63px;
  flex-shrink: 0;
}
.nft-name-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--body-s-size);
}
.ill-share-the {
  position: absolute;
  top: 0;
  left: 0.5px;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 300px;
}
.please-pay-to {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p {
  margin: 0;
}
.please-pay-to-container {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 255px;
  flex-shrink: 0;
}
.tot-description1 {
  position: absolute;
  top: 33px;
  left: 0;
  border-radius: var(--br-xs);
  width: 301px;
  height: 124px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-s-size);
}
.tradesecretsection {
  position: relative;
  width: 301px;
  height: 157px;
  flex-shrink: 0;
}
.a-great-dao {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 143px;
  flex-shrink: 0;
}
.collateral-worth-label {
  width: 283px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.price-10-tetherusdt {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.collateral-worth-label1,
.collateral-worth-label2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.collateralcount {
  overflow: hidden;
  display: flex;
}
.collateral-worth-label2 {
  width: 283px;
  gap: var(--gap-md);
}
.collateralcount {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  width: 320px;
  flex-direction: column;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xs);
}
.nft-name-group,
.nft-name6 {
  display: flex;
  justify-content: flex-start;
}
.nft-name6 {
  border-radius: var(--br-xs);
  width: 320px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
}
.nft-name-group {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--body-s-size);
}
.confirm-before-create-order,
.primary-button3 {
  position: relative;
}
.primary-button3 {
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.prepare-sell-order-button14,
.previewsellorderform {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-6xl);
  background-color: var(--primary);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.previewsellorderform {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-6xs) var(--padding-6xs);
  justify-content: flex-start;
  gap: 15px;
  text-align: left;
  font-size: var(--body-semibold-size);
  color: var(--black-000000100);
  font-family: var(--caption);
}
