.im-selling,
.preview-sell-order {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.preview-sell-order {
  font-size: var(--font-size-7xl);
  font-weight: 500;
  width: 296px;
}
.im-selling {
  width: 292px;
}
.nft-name {
  border: 0;
  background-color: transparent;
}
.nft-name2 {
  border: 0;
  background-color: transparent;
  width: 100px;
}
.x {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.nft-name-parent,
.nft-name5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nft-name-parent {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-lg);
}
.nft-name5 {
  border-radius: var(--br-xs);
  background-color: var(--color-beige);
  width: 301px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--body-b-size);
}
.confirm-before-create-order,
.primary-button {
  position: relative;
}
.primary-button {
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button,
.previewsellorderform {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-6xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.previewsellorderform {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-md);
  justify-content: flex-start;
  gap: 15px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  font-family: var(--headline-s1);
}
