.preview-sell-order {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 296px;
}
.ill-sell-count {
  margin-block-start: 0;
  margin-block-end: 0;
}
.ill-send-trade {
  margin: 0;
}
.ill-sell-count-type-of-t {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 292px;
}
.tot-description7 {
  border: 0;
  background-color: var(--color-beige);
  font-family: var(--caption1);
  font-size: var(--body-s-size);
  border-radius: var(--br-sm);
  width: 301px;
  height: 124px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirm-before-create-order,
.primary-button9 {
  position: relative;
}
.primary-button9 {
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.prepare-sell-order-button15,
.previewsellorderform {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-4xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.previewsellorderform {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-sm);
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
