.price-and-collateral9 {
  font-size: var(--font-size-4xl);
  font-weight: 500;
  width: 296px;
}
.offering-for-biding,
.price-and-collateral9,
.primary-button11 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.offering-for-biding {
  width: 292px;
}
.primary-button11 {
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button21,
.priceandcollateralform9 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xl);
  background-color: var(--primary);
  border-radius: var(--br-2xl);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.priceandcollateralform9 {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
