.price-and-collateral {
  position: absolute;
  top: calc(50% - 280.5px);
  left: calc(50% - 148.5px);
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 296px;
}
.select-token {
  position: absolute;
  top: 95px;
  left: 19px;
}
.offering-for-biding,
.select-token1 {
  position: absolute;
  top: 183px;
  left: 19px;
}
.offering-for-biding {
  top: 62px;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 292px;
}
.collateral-in-lyr {
  position: absolute;
  top: 150px;
  left: 19px;
  width: 292px;
}
.collateral-in-lyr,
.collateral-worth-in-usd-103,
.review-the-order {
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.collateral-worth-in-usd-103 {
  position: absolute;
  top: 236px;
  left: 19px;
  width: 292px;
}
.review-the-order {
  position: relative;
  font-size: var(--font-size-2xl);
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  width: 188px;
  flex-shrink: 0;
}
.review-order-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: var(--color-coral);
  position: absolute;
  top: 529px;
  left: 63px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.priceandcollateralform {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 599px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
