.scan-to-pay {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 29.93px;
  font-weight: 600;
}
.image-1-icon {
  position: relative;
  width: 187px;
  height: 189px;
  flex-shrink: 0;
  object-fit: cover;
}
.lv3nd5bii1ahj7x5axdq2oradop1cd {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  font-size: var(--caption-size);
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 29.93px;
  font-weight: 100;
  font-family: var(--base-1-semibold);
  color: var(--black-000000100);
  text-align: center;
  display: inline-block;
}
.primary-button4 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.prepare-sell-order-button16,
.scantopay {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-5xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.prepare-sell-order-button16:hover {
  background-color: var(--color-mediumslateblue-100);
}
.scantopay {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-6xs);
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--black-000000100);
  font-family: var(--base-1-semibold);
}
