.i-want-to-sell-token,
.secondary-button11 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.i-want-to-sell-token {
  width: 184px;
}
.secondary-button11 {
  font-size: var(--font-size-2xl);
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button23 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xl);
  background-color: var(--secondary);
  border-radius: var(--br-xl);
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.or1 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 31px;
}
.i-want-to-sell-token-parent {
  border-radius: var(--br-md);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.buyer-should-pay-me-by {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buyer-should-pay-me-by-parent {
  border-radius: var(--br-md);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.primary-button12 {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.prepare-sell-order-button27,
.selectofferingandbiding {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button27 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-4xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.selectofferingandbiding {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-lg) 2px;
  justify-content: flex-start;
  gap: 45px;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
