.i-want-to-sell-token,
.utility-button3 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.i-want-to-sell-token {
  width: 184px;
}
.utility-button3 {
  font-size: var(--font-size-lg);
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-sm);
  background-color: var(--tertiary);
  border-radius: var(--br-xl);
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.or1,
.utility-button4 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.or1 {
  width: 31px;
}
.utility-button4 {
  font-size: var(--body-s-size);
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.frame-div1 {
  border-radius: var(--br-md);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.buyer-should-pay-me-by {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.frame-div2 {
  border-radius: var(--br-md);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.primary-button2 {
  position: relative;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.prepare-sell-order-button14,
.selectofferingandbiding {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-3xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.selectofferingandbiding {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 614px;
  flex-direction: column;
  padding: var(--padding-md) 2px;
  justify-content: flex-start;
  gap: 45px;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
