.to-sell-token,
.utility-button4 {
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: left;
}
.utility-button4 {
  font-size: var(--font-size-xl);
  color: var(--white);
  text-align: center;
}
.prepare-sell-order-button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--tertiary);
  border-radius: var(--br-lg);
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.to-sell-token-parent {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.to-get-fiat {
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 320px;
}
.searchtokenbyname {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.price-and-collateral {
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 320px;
}
.sellatprice {
  border: 0;
  background-color: transparent;
}
.worth-in-dollar {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sellatprice-parent,
.worth-in-dollar-100-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.worth-in-dollar-100-wrapper {
  width: 320px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.sellatprice-parent {
  flex-direction: column;
}
.limitoftrade {
  width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-m-size);
}
.primary-button4 {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--white);
  text-align: center;
}
.reviewtheorder {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.reviewtheorder:disabled {
  background-color: var(--color-gainsboro-400);
}
.priceandcollateralform,
.selltokentotoken {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.priceandcollateralform {
  flex: 1;
  width: 373px;
  padding: var(--padding-2xl) 0;
  gap: var(--gap-2xl);
}
.selltokentotoken {
  position: relative;
  width: 100%;
  height: 1097px;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--caption-size);
  color: var(--black-000000100);
  font-family: var(--caption);
}
