.sell-fiat {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.searchtokenbyname2 {
  align-items: center;
}
.searchtokenbyname2,
.tot-description1,
.tot-name1 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.tot-name1 {
  align-items: center;
}
.searchtokenbyname2 {
  background-color: var(--color-white1);
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-2xs);
  gap: var(--gap-xl);
}
.tot-description1,
.tot-name1 {
  border: 0;
  font-family: var(--caption1);
  font-size: var(--body-s-size);
  background-color: var(--color-beige);
  border-radius: var(--br-sm);
  width: 301px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-5xs);
}
.tot-name1 {
  height: 40px;
}
.tot-description1 {
  height: 124px;
  align-items: flex-start;
}
.utility-button1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.prepare-sell-order-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-md);
  background-color: var(--tertiary);
  border-radius: var(--br-xl);
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.note-i-need-to-send-trade-sec1,
.secondary-button1 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--caption1);
  display: inline-block;
}
.note-i-need-to-send-trade-sec1 {
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  text-align: left;
  width: 292px;
}
.secondary-button1 {
  font-size: var(--body-s-size);
  font-weight: 500;
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button3,
.togettotform1 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xl);
  background-color: var(--secondary);
  border-radius: var(--br-xl);
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.togettotform1 {
  background-color: var(--color-white1);
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-xs);
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.price-and-collateral2 {
  font-size: var(--font-size-4xl);
  font-weight: 500;
  width: 296px;
}
.price-and-collateral2,
.primary-button2,
.set-the-price-1-offering-fo2 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.set-the-price-1-offering-fo2 {
  width: 292px;
}
.primary-button2 {
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.priceandcollateralform2,
.reviewtheorder2,
.sellfiattotot {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.reviewtheorder2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-4xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.priceandcollateralform2,
.sellfiattotot {
  background-color: var(--color-white1);
  flex-direction: column;
  padding: var(--padding-lg) 0;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.sellfiattotot {
  position: relative;
  width: 100%;
  padding: var(--padding-4xl) var(--padding-5xl);
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
