.selecttypeoftot2,
.tot-description5,
.tot-name5 {
  background-color: var(--color-beige);
  border-radius: var(--br-sm);
  width: 301px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.selecttypeoftot2 {
  gap: var(--gap-md);
}
.tot-description5,
.tot-name5 {
  border: 0;
  font-family: var(--caption1);
  font-size: var(--body-s-size);
}
.tot-description5 {
  height: 124px;
  align-items: flex-start;
}
.utility-button5 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.prepare-sell-order-button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-lg);
  background-color: var(--tertiary);
  border-radius: var(--br-xl);
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.note-i-need-to-send-trade-sec5,
.secondary-button5 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--caption1);
  display: inline-block;
}
.note-i-need-to-send-trade-sec5 {
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  text-align: left;
  width: 292px;
}
.secondary-button5 {
  font-size: var(--body-s-size);
  font-weight: 500;
  color: var(--color-white1);
  text-align: center;
}
.createtottosellform2,
.prepare-sell-order-button11 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-3xl);
  background-color: var(--secondary);
  border-radius: var(--br-xl);
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.createtottosellform2 {
  background-color: var(--color-white1);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-sm);
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.to-get-tokennft {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.searchtokenbyname5 {
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.price-and-collateral6,
.set-the-price-1-offering-fo6 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.price-and-collateral6 {
  font-size: var(--font-size-4xl);
  font-weight: 500;
  width: 296px;
}
.set-the-price-1-offering-fo6 {
  width: 292px;
}
.limitmin6 {
  border: 0;
  font-family: var(--caption1);
  font-size: var(--body-s-size);
  background-color: var(--color-beige);
  border-radius: var(--br-sm);
  width: 138px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.div6 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.limitoftrade6 {
  width: 322px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--body-s-size);
}
.primary-button6 {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.reviewtheorder6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.reviewtheorder6:disabled {
  background-color: var(--color-gray-200);
}
.priceandcollateralform6,
.selltottotoken {
  background-color: var(--color-white1);
  width: 373px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.selltottotoken {
  position: relative;
  width: 100%;
  padding: var(--padding-5xl) var(--padding-6xl);
  gap: var(--gap-md);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
