.sell {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.searchtokenbyname,
.tot-description,
.tot-name1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.searchtokenbyname {
  background-color: var(--color-white1);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xs);
  gap: var(--gap-3xl);
}
.tot-description,
.tot-name1 {
  border: 0;
  font-family: var(--headline-s1);
  font-size: var(--body-b-size);
  background-color: var(--color-beige);
  border-radius: var(--br-sm);
  width: 301px;
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
.tot-description {
  height: 124px;
  align-items: flex-start;
}
.utility-button1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-lg);
  background-color: var(--tertiary);
  border-radius: var(--br-xl);
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.note-i-need1,
.secondary-button3 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
}
.note-i-need1 {
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 292px;
}
.secondary-button3 {
  font-size: var(--body-b-size);
  font-weight: 500;
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-3xl);
  background-color: var(--secondary);
  border-radius: var(--br-xl);
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.selltokentotot,
.togettotform {
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.selltokentotot {
  position: relative;
  width: 100%;
  padding: var(--padding-5xl) var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-md);
}
