.to-sell-token,
.utility-button {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.utility-button {
  font-size: var(--font-size-3xl);
  font-family: var(--regular-body1);
  color: var(--white);
  text-align: center;
}
.buttons5,
.to-sell-token-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl);
  background-color: var(--tertiary1);
  border-radius: var(--br-xl);
  height: 30px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: flex-start;
}
.to-sell-token-parent {
  width: 320px;
  justify-content: space-between;
}
.to-get-fiat {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 320px;
}
.sellatprice {
  border: 0;
  background-color: transparent;
}
.worth-in-dollar {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sellatprice-parent,
.worth-in-dollar-100-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.worth-in-dollar-100-wrapper {
  width: 320px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.sellatprice-parent {
  flex-direction: column;
  font-size: var(--caption-size);
}
.limitoftrade {
  width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-m1-size);
}
.primary-button5 {
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--white);
  text-align: center;
}
.reviewtheorder {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-6xl);
  background-color: var(--primary1);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.reviewtheorder:disabled {
  background-color: var(--color-gainsboro-500);
}
.priceandcollateralform,
.selltokentotoken {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.priceandcollateralform {
  flex: 1;
  width: 373px;
  padding: var(--padding-2xl) 0;
  gap: var(--gap-2xl);
}
.selltokentotoken {
  position: relative;
  width: 100%;
  height: 1097px;
  padding: 0 var(--padding-2xs);
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--black-0000001001);
  font-family: var(--regular-body1);
}
