.selecttypeoftot,
.tot-description2,
.tot-name3 {
  background-color: var(--color-beige);
  border-radius: var(--br-xs);
  width: 301px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.selecttypeoftot {
  gap: var(--gap-lg);
}
.tot-description2,
.tot-name3 {
  border: 0;
  font-family: var(--headline-s1);
  font-size: var(--body-b-size);
}
.tot-description2 {
  height: 124px;
  align-items: flex-start;
}
.utility-button3 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--tertiary);
  border-radius: var(--br-xl);
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.note-i-need3,
.secondary-button5 {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
}
.note-i-need3 {
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 292px;
}
.secondary-button5 {
  font-size: var(--body-b-size);
  font-weight: 500;
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-4xl);
  background-color: var(--color-brown-200);
  border-radius: var(--br-xl);
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createtottosellform1 {
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.to-get-tokennft {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.searchtokenbyname1,
.selltottotoken {
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.selltottotoken {
  position: relative;
  width: 100%;
  padding: var(--padding-6xl) var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
