.to-sell-token,
.utility-button4 {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: left;
}
.utility-button4 {
  font-size: var(--font-size-xl);
  color: var(--color-white);
  text-align: center;
}
.prepare-sell-order-button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--tertiary);
  border-radius: var(--br-lg);
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.to-sell-token-parent {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.to-get-fiat {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: left;
  display: inline-block;
  width: 320px;
}
.searchtokenbyname {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.price-and-collateral {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 320px;
}
.sellatprice {
  border: 0;
  background-color: transparent;
}
.worth-in-dollar {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sellatprice-parent,
.worth-in-dollar-100-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.worth-in-dollar-100-wrapper {
  width: 320px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.sellatprice-parent {
  flex-direction: column;
}
.limitoftrade {
  width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-s-size);
}
.primary-button3 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.reviewtheorder {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.reviewtheorder:disabled {
  background-color: var(--color-gainsboro-400);
}
.priceandcollateralform {
  flex: 1;
  background-color: var(--color-white);
  width: 373px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.home-indicator5 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black-000000100);
  width: 134px;
  height: 5px;
  display: none;
}
.home-indicator4 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  height: 34px;
}
.box-alt-light-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text18 {
  position: relative;
  line-height: 14px;
}
.tabbar-item8 {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.text20 {
  position: relative;
  line-height: 10px;
}
.tabbar-item11,
.tabbar2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabbar-item11 {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  flex-direction: column;
  gap: var(--gap-5xs);
  color: var(--primary1);
}
.tabbar2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 34px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--y1);
  height: 56px;
  flex-direction: row;
}
.bottomtabbar2 {
  position: fixed;
  width: 375px;
  height: 90px;
  flex-shrink: 0;
  bottom: 0;
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--primary-text);
  font-family: var(--font-open-sans);
}
.selltokentotoken {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1097px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--caption-size);
  color: var(--black-000000100);
  font-family: var(--caption);
}
