.send-token {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.asserttitlesection {
  align-self: stretch;
  background-color: var(--color-white);
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tokentosell {
  border: 0;
  background-color: transparent;
}
.primary-button1 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.prepare-sell-order-button4,
.sendtokenform {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.prepare-sell-order-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-6xl);
  background-color: var(--primary);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.prepare-sell-order-button4:hover {
  background-color: var(--color-mediumslateblue-100);
}
.sendtokenform {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-6xs);
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--black-000000100);
  font-family: var(--caption);
}
