.catalog-section-child {
  position: relative;
  border-right: 1px solid #bcbcbc;
  box-sizing: border-box;
  width: 1px;
  height: 479px;
  flex-shrink: 0;
}
.catalog-section {
  flex: 1;
  width: 324px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.primary-button4 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.prepare-sell-order-button15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button15:hover {
  background-color: #8277e8;
}
.prepare-sell-order-button15:disabled {
  background-color: var(--color-gainsboro-400);
}
.home-indicator7 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black-000000100);
  width: 134px;
  height: 5px;
  display: none;
}
.home-indicator6 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  height: 34px;
}
.box-alt-light-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text22 {
  position: relative;
  line-height: 14px;
}
.tabbar-item12 {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.text24 {
  position: relative;
  line-height: 10px;
}
.tabbar-item15,
.tabbar3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabbar-item15 {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  flex-direction: column;
  gap: var(--gap-5xs);
  color: var(--primary1);
}
.tabbar3 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 34px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--y1);
  height: 56px;
  flex-direction: row;
}
.bottomtabbar3 {
  position: fixed;
  width: 375px;
  height: 90px;
  flex-shrink: 0;
  bottom: 0;
}
.starttocreateorder {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 902px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--primary-text);
  font-family: var(--font-open-sans);
}
