.catalog-section-child {
  position: relative;
  border-right: 1px solid #bcbcbc;
  box-sizing: border-box;
  width: 1px;
  height: 479px;
  flex-shrink: 0;
}
.catalog-section {
  width: 324px;
  height: 533px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.primary-button5 {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--white);
  text-align: center;
}
.prepare-sell-order-button15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-7xl);
  background-color: var(--primary1);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button15:hover {
  background-color: #8277e8;
}
.prepare-sell-order-button15:disabled {
  background-color: var(--color-gainsboro-400);
}
.catalog-section-parent,
.starttocreateorder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-section-parent {
  flex: 1;
  justify-content: center;
  gap: var(--gap-4xl);
}
.starttocreateorder {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 917px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
