.catalog-section-child {
  position: relative;
  border-right: 1px solid #bcbcbc;
  box-sizing: border-box;
  width: 1px;
  height: 479px;
  flex-shrink: 0;
}
.catalog-section {
  width: 324px;
  height: 533px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.catalog-section-parent,
.starttocreateorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.catalog-section-parent {
  flex: 1;
  gap: var(--gap-4xl);
}
.starttocreateorder {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 946px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
