.search-keyword-input {
  background-color: transparent;
  position: relative;
}
.advanced-filter-icon {
  position: relative;
  width: 40.5px;
  height: 40px;
  flex-shrink: 0;
}
.search-bar {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-coral);
}
.div6 {
  position: absolute;
  top: calc(50% - 9px);
  left: 38.81%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.iconglyphstar-copy-4 {
  position: absolute;
  height: 50%;
  width: 17.91%;
  top: 25%;
  right: 70.15%;
  bottom: 25%;
  left: 11.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  position: relative;
  width: 67px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: rgba(223, 224, 229, 0.5);
}
.div7 {
  position: absolute;
  top: calc(50% - 9px);
  left: 27.96%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.group1,
.iconglyphstar-copy-41 {
  position: absolute;
  overflow: hidden;
}
.iconglyphstar-copy-41 {
  height: 50%;
  width: 12.9%;
  top: 25%;
  right: 78.49%;
  bottom: 25%;
  left: 8.6%;
  max-width: 100%;
  max-height: 100%;
}
.group1 {
  top: 0;
  left: 0;
  width: 93px;
  height: 24px;
}
.group-4-copy {
  position: relative;
  width: 93px;
  height: 24px;
  flex-shrink: 0;
  color: var(--color-gray-11);
}
.group-parent {
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 179px var(--padding-xs) var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--color-white1);
}
.all-transactions {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.all-transactions-wrapper {
  width: 359px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--headline-s1-size);
}
.rectangle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white1);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
}
.to-harry-james,
.transfer-money {
  position: absolute;
  width: 97.39%;
  top: calc(50% - 20px);
  left: 0;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.to-harry-james {
  width: 77.39%;
  top: calc(50% + 2px);
  font-size: var(--caption1-size);
  font-weight: 500;
  color: var(--color-gray-11);
}
.group2 {
  position: absolute;
  height: 35.09%;
  width: 56.56%;
  top: 14.04%;
  right: 38.78%;
  bottom: 50.88%;
  left: 4.66%;
  overflow: hidden;
  font-size: var(--body-s-size);
}
.successful {
  position: absolute;
  top: calc(50% - 9px);
  left: 24.44%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.iconglyphstar {
  position: absolute;
  height: 88.89%;
  width: 17.78%;
  top: 5.56%;
  right: 82.22%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.successful-parent {
  position: absolute;
  height: 15.79%;
  width: 26.24%;
  top: 70.18%;
  right: 69.1%;
  bottom: 14.04%;
  left: 4.66%;
  overflow: hidden;
}
.div8 {
  position: absolute;
  top: calc(50% - 9px);
  left: 23.4%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.iconglyphstar-copy {
  position: absolute;
  height: 88.89%;
  width: 17.02%;
  top: 5.56%;
  right: 82.98%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div9,
.parent {
  position: absolute;
}
.parent {
  height: 15.79%;
  width: 27.41%;
  top: 70.18%;
  right: 33.24%;
  bottom: 14.04%;
  left: 39.36%;
  overflow: hidden;
}
.div9 {
  top: calc(50% - 9px);
  left: 39.29%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.iconglyphstar-copy-2 {
  position: absolute;
  height: 88.89%;
  width: 28.57%;
  top: 5.56%;
  right: 71.43%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container,
.path-icon,
.receive-icon {
  position: absolute;
  height: 15.79%;
  width: 16.33%;
  top: 70.18%;
  right: 8.45%;
  bottom: 14.04%;
  left: 75.22%;
  overflow: hidden;
}
.path-icon,
.receive-icon {
  height: 0.88%;
  width: 100%;
  top: 59.65%;
  right: 0;
  bottom: 39.47%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.receive-icon {
  height: 31.58%;
  width: 10.5%;
  top: 18.42%;
  right: 6.12%;
  bottom: 50%;
  left: 83.38%;
}
.receivedetailcard {
  position: relative;
  width: 343px;
  height: 114px;
  flex-shrink: 0;
}
.senddetailcard-child {
  position: absolute;
  height: 31.58%;
  width: 10.37%;
  top: 17.54%;
  right: 6.24%;
  bottom: 50.88%;
  left: 83.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.receivedetailcard-parent,
.transactionhistory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.receivedetailcard-parent {
  align-items: flex-start;
  gap: var(--gap-sm);
  font-size: var(--regular-body-size);
}
.transactionhistory {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 677px;
  overflow: hidden;
  padding: var(--padding-sm) 0;
  box-sizing: border-box;
  align-items: center;
  gap: 9px;
  text-align: left;
  font-size: var(--caption1-size);
  color: var(--color-black1);
  font-family: var(--caption1);
}
