.label {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.avatar-icon,
.iconright {
  position: relative;
  flex-shrink: 0;
}
.avatar-icon {
  border-radius: 31px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.iconright {
  width: 14px;
  height: 14px;
}
.item {
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.divider,
.item,
.line {
  align-self: stretch;
}
.line {
  position: relative;
  border-top: 1px solid var(--white1);
  box-sizing: border-box;
  height: 1px;
  flex-shrink: 0;
}
.divider {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-md);
  align-items: flex-start;
  justify-content: center;
}
.label1,
.placeholder {
  position: relative;
  line-height: 24px;
}
.placeholder {
  flex: 1;
  color: var(--primary-text1);
  text-align: right;
}
.input-item,
.item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item1 {
  align-self: stretch;
  padding: var(--padding-2xs) var(--padding-md);
  justify-content: flex-start;
}
.input-item {
  flex: 1;
  box-shadow: var(--inner-shadow);
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-2xs);
}
.card,
.item3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.item3 {
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  align-items: center;
  gap: var(--gap-md);
}
.card {
  border-radius: var(--br-2xs);
  background-color: var(--white1);
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  font-size: var(--body-semibold-size);
}
.text10 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.form-card-title,
.label4 {
  display: flex;
  align-items: center;
}
.form-card-title {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-md);
  justify-content: flex-start;
}
.label4 {
  position: relative;
  line-height: 24px;
  width: 100px;
  flex-shrink: 0;
}
.form-item-select,
.form1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.form-item-select {
  background-color: var(--selectable1);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xs) var(--padding-2xs)
    var(--padding-md);
  align-items: center;
  gap: var(--gap-sm);
}
.form1 {
  flex-direction: column;
  align-items: flex-start;
}
.placeholder5 {
  position: relative;
  line-height: 24px;
  font-weight: 300;
}
.placeholder6 {
  position: relative;
  font-size: var(--caption-size);
  line-height: 16px;
  color: var(--subtitle-text);
}
.placeholder-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.title {
  position: relative;
  line-height: 16px;
}
.button,
.button-group {
  display: flex;
  flex-direction: row;
}
.button {
  border-radius: var(--br-sm);
  overflow: hidden;
  padding: var(--padding-8xs) var(--padding-2xs);
  align-items: center;
  justify-content: center;
}
.button-group {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--caption-size);
  color: var(--primary1);
}
.item4,
.text-parent {
  align-self: stretch;
  display: flex;
}
.item4 {
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.text-parent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.iconadd-one {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.button-wrapper,
.button4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button4 {
  border-radius: var(--br-md);
  overflow: hidden;
  padding: var(--padding-8xs) var(--padding-md);
  gap: var(--gap-3xs);
}
.button-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-md);
  text-align: center;
  color: var(--primary1);
}
.form,
.list,
.userprofile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.list {
  align-self: stretch;
  border-radius: var(--br-2xs);
  background-color: var(--white1);
  overflow: hidden;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  font-size: var(--body-semibold-size);
  color: var(--primary-text1);
}
.form,
.userprofile {
  border-radius: var(--br-md);
  box-sizing: border-box;
}
.form {
  flex: 1;
  width: 464px;
  padding: var(--padding-md);
  align-items: flex-start;
  gap: var(--gap-xl);
}
.userprofile {
  position: relative;
  background-color: var(--light);
  width: 100%;
  height: 926px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  align-items: center;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--caption-size);
  color: var(--subtitle-text);
  font-family: var(--regular-body1);
}
