.viewtradesform,
.wallet-card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.wallet-card-group {
  flex: 1;
}
.viewtradesform {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 926px;
  overflow: hidden;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
