.view-trades {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 180px;
  flex-shrink: 0;
}
.view-trades-wrapper {
  background-color: var(--color-white1);
  width: 276px;
  height: 52px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-sm) var(--padding-lg)
    var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.biding,
.div,
.fiat-usd {
  position: absolute;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.great-nft {
  top: 17px;
  left: 94px;
}
.great-nft,
.open,
.price,
.selling,
.status {
  position: absolute;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.fiat-usd {
  top: 52px;
  left: 99px;
}
.open {
  top: 87px;
  left: 114px;
}
.div {
  top: 115px;
  left: 113px;
}
.biding {
  left: 12px;
}
.biding,
.price {
  width: 71px;
}
.selling {
  top: 17px;
  left: 12px;
}
.selling,
.status {
  width: 71px;
}
.biding {
  top: 52px;
}
.price,
.status {
  left: 15px;
}
.status {
  top: 87px;
}
.price {
  top: 115px;
}
.ordercard,
.viewtradesform {
  position: relative;
  background-color: var(--color-white1);
  overflow: hidden;
}
.ordercard {
  border-radius: var(--br-xs);
  border: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 192px;
  height: 155px;
  flex-shrink: 0;
}
.viewtradesform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
