.utility-button6,
.view-orders {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.utility-button6 {
  font-size: 16px;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.prepare-sell-order-button12,
.view-orders-parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-lg);
  background-color: var(--tertiary);
  border-radius: var(--br-xl);
  height: 30px;
  overflow: hidden;
}
.view-orders-parent {
  background-color: var(--color-white1);
  height: 52px;
  flex-shrink: 0;
  padding: var(--padding-xl) var(--padding-md) var(--padding-xl)
    var(--padding-xl);
  gap: 80px;
}
.icbaseline-generating-tokens-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-child {
  position: relative;
  width: 20px;
  height: 14.73px;
  flex-shrink: 0;
}
.order-image {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-coral);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.open3 {
  position: relative;
  font-size: var(--caption1-size);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white1);
  text-align: center;
}
.order-status {
  align-self: stretch;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--info);
  display: flex;
  flex-direction: row;
  padding: 3px var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.order-banner,
.order-banner-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.order-banner {
  gap: var(--gap-0);
}
.order-banner-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.btc {
  position: relative;
  display: inline-block;
}
.frame-child {
  position: relative;
  width: 32px;
  height: 14.73px;
  flex-shrink: 0;
}
.tetherusdt {
  position: relative;
  display: inline-block;
  text-align: left;
}
.btc-parent,
.limit-min-1323-wrapper,
.price-1323-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btc-parent {
  align-items: center;
  gap: var(--gap-sm);
}
.limit-min-1323-wrapper,
.price-1323-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  align-items: flex-start;
}
.limit-min-1323-wrapper {
  left: 87px;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.frame-container,
.frame-group,
.group-div {
  position: relative;
  width: 203px;
  height: 15px;
  flex-shrink: 0;
}
.frame-container,
.group-div {
  width: 191px;
}
.group-div {
  width: 156px;
}
.group-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
  font-size: var(--caption1-size);
  font-family: var(--font-verdana);
}
.frame-parent,
.order-brief-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  flex-direction: column;
  gap: 5px;
}
.order-brief-section {
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-md);
}
.hash-38ae3ef3-wrapper,
.time-12292022-102537-am-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 195px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hash-38ae3ef3-wrapper {
  left: 203.42px;
  width: 121.58px;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
.frame-parent1 {
  align-self: stretch;
  position: relative;
  height: 15px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--caption1-size);
  font-family: var(--font-verdana);
}
.ordercard3,
.viewordersform {
  background-color: var(--color-white1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ordercard3 {
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #979797;
  box-sizing: border-box;
  padding: var(--padding-4xs);
  gap: var(--gap-sm);
  text-align: right;
  font-size: var(--font-size-2xl);
  font-family: var(--font-inter);
}
.viewordersform {
  position: relative;
  width: 100%;
  overflow: hidden;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
