.utility-button5,
.view-orders {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
}
.view-orders {
  display: inline-block;
  width: 168px;
  flex-shrink: 0;
}
.utility-button5 {
  font-size: var(--font-size-xl);
  font-family: var(--caption);
  color: var(--white);
  text-align: center;
}
.prepare-sell-order-button12,
.view-orders-parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--tertiary);
  border-radius: var(--br-lg);
  height: 30px;
  overflow: hidden;
}
.view-orders-parent {
  background-color: var(--white);
  width: 386px;
  height: 52px;
  flex-shrink: 0;
  padding: var(--padding-2xl) var(--padding-md) var(--padding-2xl)
    var(--padding-2xl);
  gap: 130px;
}
.ordercard-container,
.viewordersform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ordercard-container {
  flex: 1;
}
.viewordersform {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 926px;
  overflow: hidden;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--black-000000100);
  font-family: var(--caption);
}
