.utility-button,
.view-orders {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.view-orders {
  width: 180px;
  flex-shrink: 0;
  z-index: 0;
}
.utility-button {
  font-size: var(--font-size-lg);
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
}
.frame-div,
.prepare-sell-order-button {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.prepare-sell-order-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-sm);
  background-color: var(--tertiary);
  margin: 0 !important;
  position: absolute;
  top: 11px;
  left: 213px;
  border-radius: var(--br-xl);
  height: 30px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-div {
  background-color: var(--color-white1);
  width: 276px;
  height: 52px;
  flex-shrink: 0;
  padding: var(--padding-md) var(--padding-xs) var(--padding-md)
    var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 114px;
  text-align: left;
  font-size: var(--font-size-3xl);
}
.biding,
.div,
.fiat-usd,
.great-nft,
.open,
.price,
.selling,
.status {
  position: absolute;
  top: 17px;
  left: 94px;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.biding,
.div,
.fiat-usd,
.open,
.price,
.selling,
.status {
  top: 52px;
  left: 99px;
}
.biding,
.div,
.open,
.price,
.selling,
.status {
  top: 87px;
  left: 114px;
}
.biding,
.div,
.price,
.selling,
.status {
  top: 115px;
  left: 113px;
}
.biding,
.price,
.selling,
.status {
  top: 17px;
  left: 12px;
  width: 71px;
}
.biding,
.price,
.status {
  top: 52px;
}
.price,
.status {
  top: 87px;
  left: 15px;
}
.price {
  top: 115px;
}
.ordercard,
.viewordersform {
  position: relative;
  background-color: var(--color-white1);
  overflow: hidden;
}
.ordercard {
  border-radius: var(--br-xs);
  border: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 192px;
  height: 155px;
  flex-shrink: 0;
}
.viewordersform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
