.home-icon-interlocution4 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.ranking4 {
  position: relative;
  font-size: var(--other-m-size);
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--black-000000100);
  text-align: left;
}
.send-button,
.swap-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white1);
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: column;
}
.swap-button-group {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-lg);
}
.iconssection-container,
.iconssection1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.iconssection1 {
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-7xs) var(--padding-6xs);
  align-items: center;
  justify-content: center;
}
.iconssection-container {
  align-items: flex-start;
  justify-content: flex-start;
}
.token1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  z-index: 0;
}
.div4,
.group-inner {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
}
.div4 {
  top: calc(50% - 7px);
  font-size: var(--font-size-3xs);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
  width: 10px;
  height: 12px;
}
.ellipse-container {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14px);
  left: calc(50% + 22.5px);
  width: 11px;
  height: 14px;
  flex-shrink: 0;
  z-index: 1;
}
.nft-tab1,
.tokentab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) 0;
  background-color: var(--text-secondary1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.nft-tab1 {
  overflow: hidden;
}
.fiat1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.fiat-tab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) 0;
  background-color: var(--text-secondary1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.catalogtab1,
.tradableorderssection2 {
  background-color: var(--color-whitesmoke-200);
  display: flex;
  align-items: center;
}
.catalogtab1 {
  width: 424px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xs);
}
.tradableorderssection2 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  width: 455px;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-6xs) 0;
  box-sizing: border-box;
  justify-content: flex-start;
}
.lyralogoblueicon3 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
}
.custom-coin {
  flex: 1;
  display: inline-block;
  height: 24px;
}
.b,
.cus,
.custom-coin {
  position: relative;
}
.b {
  font-size: var(--caption1-size);
  color: var(--text-secondary1);
}
.cus-parent,
.lyralogoblueicon-parent {
  display: flex;
  justify-content: flex-start;
}
.cus-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--default-black);
}
.lyralogoblueicon-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.frame-child {
  position: relative;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 156px;
  height: 1px;
  flex-shrink: 0;
}
.frame-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.tokendisplayitem {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.coinlisting {
  background-color: var(--color-white1);
  width: 455px;
  padding: 0 var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
}
.coinlisting,
.tradableorderssection-parent,
.wallethome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.wallethome {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--black-000000100);
  font-family: var(--font-sf-pro-text);
}
