.lyralogoblueicon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
}
.custom-coin {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.b2,
.cus,
.custom-coin {
  position: relative;
}
.b2 {
  font-size: var(--caption-size);
  color: var(--text-secondary1);
}
.cus-parent,
.lyralogoblueicon-parent {
  display: flex;
  justify-content: flex-start;
}
.cus-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--font-size-3xl);
  color: var(--default-black);
}
.lyralogoblueicon-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.frame-child {
  position: relative;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 156px;
  height: 1px;
  flex-shrink: 0;
}
.frame-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.tokendisplayitem {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.coinlisting {
  background-color: var(--white1);
  width: 396px;
  padding: 0 var(--padding-4xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-md);
}
.coinlisting,
.wallet-card-parent,
.wallethome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-card-parent {
  flex: 1;
  width: 396px;
  align-items: flex-start;
  gap: var(--gap-md);
}
.wallethome {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 917px;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--black-0000001001);
  font-family: var(--regular-body1);
}
