.home-icon-interlocution {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.ranking {
  position: relative;
  font-size: var(--regular-body-size);
  line-height: 18px;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: left;
}
.swap-button,
.swap-button-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swap-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: column;
}
.swap-button-parent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-md);
}
.iconssection,
.iconssection-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.iconssection {
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-7xs) var(--padding-6xs);
  align-items: center;
  justify-content: center;
}
.iconssection-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.lyralogoblueicon4 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
}
.custom-coin {
  flex: 1;
  display: inline-block;
  height: 24px;
}
.b,
.cus,
.custom-coin {
  position: relative;
}
.b {
  font-size: var(--caption-size);
  color: var(--text-secondary1);
}
.cus-parent,
.lyralogoblueicon-parent {
  display: flex;
  justify-content: flex-start;
}
.cus-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--default-black);
}
.lyralogoblueicon-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.frame-child {
  position: relative;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 156px;
  height: 1px;
  flex-shrink: 0;
}
.frame-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.tokendisplayitem {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.coinlisting {
  background-color: var(--color-white);
  width: 455px;
  padding: 0 var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
}
.coinlisting,
.tradableorderssection-parent,
.wallethome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.wallethome {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--black-000000100);
  font-family: var(--font-sf-pro-text);
}
