.home-indicator1 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black-000000100);
  width: 134px;
  height: 5px;
  display: none;
}
.home-indicator {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  height: 34px;
}
.box-alt-light-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text10 {
  position: relative;
  line-height: 14px;
}
.tabbar-item {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs);
}
.text12 {
  position: relative;
  line-height: 10px;
}
.tabbar,
.tabbar-item3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabbar-item3 {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  flex-direction: column;
  gap: var(--gap-4xs);
  color: var(--primary1);
}
.tabbar {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 34px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--y1);
  height: 56px;
  flex-direction: row;
}
.bottomtabbar {
  position: fixed;
  width: 375px;
  height: 90px;
  flex-shrink: 0;
  bottom: 0;
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--primary-text);
  font-family: var(--font-open-sans);
}
