.home-indicator3 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black-0000001001);
  width: 134px;
  height: 5px;
  display: none;
}
.home-indicator2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  height: 34px;
}
.box-alt-light-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text13 {
  position: relative;
  font-size: var(--uppercase-small-size);
  line-height: 14px;
  font-family: var(--regular-body1);
  color: var(--primary-text1);
  text-align: center;
}
.tabbar-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--selectable1);
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.text15 {
  position: relative;
  font-size: var(--uppercase-small-size);
  line-height: 10px;
  font-family: var(--regular-body1);
  color: var(--primary1);
  text-align: center;
}
.tabbar {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 34px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottomtabbar {
  position: fixed;
  width: 100%;
  height: 90px;
  flex-shrink: 0;
  bottom: 0;
}
