.home-indicator1 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black);
  width: 134px;
  height: 5px;
  display: none;
}
.home-indicator {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  height: 34px;
}
.box-alt-light-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text13 {
  position: relative;
  line-height: 14px;
}
.tabbar-item {
  color: var(--primary1);
}
.tabbar-item,
.tabbar-item1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--selectable);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.text15 {
  position: relative;
  line-height: 10px;
}
.tabbar {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 34px;
  left: 0;
  background-color: var(--white);
  box-shadow: var(--y1);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottomtabbar {
  position: fixed;
  width: 375px;
  height: 90px;
  flex-shrink: 0;
  bottom: 0;
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--primary-text);
  font-family: var(--caption);
}
