.i-want-to {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 119px;
}
.catalogselection,
.tradecatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tradecatalog {
  background-color: var(--color-white1);
  width: 110px;
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-4xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-md);
}
.catalogselection {
  gap: var(--gap-6xs);
  text-align: center;
  font-size: var(--body-b-size);
  color: var(--black-000000100);
  font-family: var(--headline-s1);
}
