.collateral-worth-label,
.collateral-worth-label1 {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.collateral-worth-label1 {
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--uppercase-small-size);
}
.collateralsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.collateralcalculation-child {
  position: relative;
  border-top: 1px solid var(--black-0000001001);
  box-sizing: border-box;
  width: 299px;
  height: 1px;
  flex-shrink: 0;
}
.collateral-worth-label6 {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div15,
.total {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.div15 {
  font-size: var(--uppercase-small-size);
}
.collateral-worth-label7,
.collateralcalculation {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.collateralcalculation {
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-200);
  width: 320px;
  flex-direction: column;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--body-semibold-size);
  color: var(--black-0000001001);
  font-family: var(--regular-body1);
}
