.hello-popup {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 404px;
  height: 443px;
  flex-shrink: 0;
}
.generalpopup {
  position: relative;
  background-color: var(--color-white1);
  width: 370px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
