.icbaseline-generating-tokens-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-child {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--text-primary-dark);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.open {
  position: relative;
  font-size: var(--caption-size);
  font-family: var(--font-calibri);
  color: var(--white);
  text-align: center;
}
.order-status {
  align-self: stretch;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-11xs);
  align-items: center;
  justify-content: center;
}
.banner-image,
.order-banner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-xs);
}
.arrow-icon,
.sell {
  position: relative;
}
.arrow-icon {
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt2 {
  position: relative;
  text-align: left;
}
.block3,
.block4,
.sell-parent {
  display: flex;
  justify-content: flex-start;
}
.sell-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.block3,
.block4 {
  overflow: hidden;
  flex-direction: column;
}
.block3 {
  padding: 0 0 var(--padding-9xs);
  align-items: flex-start;
}
.block4 {
  align-items: flex-end;
}
.price3 {
  position: relative;
  display: inline-block;
  width: 66px;
}
.block1,
.block2 {
  width: 55px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block2 {
  width: 73px;
  overflow: hidden;
  align-items: flex-end;
  font-size: var(--font-size-5xl);
  color: var(--color-forestgreen);
}
.details-section-child {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.details-section,
.title-section {
  display: flex;
  justify-content: flex-start;
}
.details-section {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
  font-size: var(--caption-size);
}
.title-section {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.order-brief-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.width-controller {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userprofilesection-child {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.the-first-dao {
  position: relative;
  font-size: var(--caption-size);
}
.a-big-seller-parent,
.parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-big-seller-parent {
  flex: 1;
  padding: var(--padding-9xs) var(--padding-11xl) var(--padding-9xs) 0;
  align-items: flex-start;
}
.parent {
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: flex-end;
}
.ordercard,
.userprofilesection {
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
}
.userprofilesection {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
  font-size: var(--font-size-2xl);
}
.ordercard {
  border-radius: var(--br-xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
