.icbaseline-generating-tokens-icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-inner {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image4 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--text-primary-dark1);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.open2 {
  position: relative;
  font-size: var(--caption-size);
  font-family: var(--regular-body1);
  color: var(--white);
  text-align: center;
}
.order-status4 {
  align-self: stretch;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image4,
.order-banner4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-sm);
}
.frame-child6 {
  position: relative;
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt5 {
  position: relative;
  text-align: left;
}
.sell-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.block24,
.block32,
.block42 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.block32 {
  padding: 0 0 var(--padding-8xs);
  align-items: flex-start;
}
.block24,
.block42 {
  align-items: flex-end;
}
.block24 {
  font-size: var(--font-size-7xl);
  color: var(--color-forestgreen);
  font-family: var(--regular-body1);
}
.details-section-child2 {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.details-section4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--caption-size);
  font-family: var(--font-source-sans-pro);
}
.title-section4 {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  border-radius: var(--br-2xs) var(--br-2xs) 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  color: inherit;
}
.order-brief-section4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
}
.width-controller4 {
  position: relative;
  border-top: 1px solid var(--black-0000001001);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section4 {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userprofilesection-child {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.a-big-seller,
.the-first-dao {
  position: relative;
}
.the-first-dao {
  font-size: var(--caption-size);
  font-family: var(--font-source-sans-pro);
}
.a-big-seller-parent,
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-big-seller-parent {
  flex: 1;
  padding: var(--padding-8xs) var(--padding-9xl) var(--padding-8xs) 0;
  align-items: flex-start;
}
.container {
  padding: var(--padding-8xs) var(--padding-4xs);
  align-items: flex-end;
}
.ordercard4,
.userprofilesection {
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
}
.userprofilesection {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-4xl);
}
.ordercard4 {
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: column;
  padding: var(--padding-4xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: right;
  font-size: var(--font-size-3xl);
  color: var(--black-0000001001);
  font-family: var(--regular-body1);
}
