.print-fiat-for1 {
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.41px;
  line-height: 28px;
  font-weight: 500;
  font-family: var(--regular-body1);
  color: var(--black-0000001001);
  text-align: left;
  display: inline-block;
  width: 296px;
}
.domain-name2 {
  border: 0;
  background-color: transparent;
}
.mintfiatdialog {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
