.lyralogoblueicon4 {
  position: relative;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  object-fit: cover;
}
.lyralogoblueicon-wrapper1 {
  border-radius: var(--br-sm);
  background-color: var(--color-white1);
  width: 162px;
  height: 162px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.put-your-product3 {
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 155px;
  flex-shrink: 0;
}
.name-bm3 {
  width: 155px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3,
.nft-showing-item3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content3 {
  width: 155px;
  align-items: center;
}
.nft-showing-item3 {
  align-items: flex-end;
  gap: var(--gap-sm);
  text-align: center;
  font-size: var(--uppercase-small-size);
  color: var(--text-dark-60);
  font-family: var(--body-semibold);
}
