.icbaseline-generating-tokens-icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-item {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--sell1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.open1 {
  position: relative;
  font-size: var(--caption1-size);
  font-family: var(--font-calibri);
  color: var(--color-white1);
  text-align: center;
}
.order-status1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image1,
.order-banner1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-item {
  position: relative;
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt2 {
  position: relative;
  text-align: left;
}
.sell-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-xl);
}
.title-section-item {
  position: relative;
  border-top: 1px solid var(--text-secondary1);
  box-sizing: border-box;
  width: 128px;
  height: 1px;
  flex-shrink: 0;
}
.am-container {
  align-self: stretch;
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.limit-min {
  position: relative;
}
.block11,
.block21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block21 {
  overflow: hidden;
  align-items: flex-end;
}
.details-section-item {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.block31 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.details-section1,
.title-section1 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.details-section1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.title-section1 {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
}
.order-brief-section1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.width-controller1 {
  position: relative;
  border-top: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.ordercard1,
.trades-section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trades-section1 {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.ordercard1 {
  border-radius: var(--br-md);
  background-color: var(--color-white1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-5xs);
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--caption1-size);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
