.icbaseline-generating-tokens-icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-inner {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image2 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--sell1);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.open2 {
  position: relative;
  font-size: var(--caption-size);
  font-family: var(--font-calibri);
  color: var(--color-white);
  text-align: center;
}
.order-status2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image2,
.order-banner2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-child4 {
  position: relative;
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt4 {
  position: relative;
  text-align: left;
}
.sell-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
}
.title-section-item {
  position: relative;
  border-top: 1px solid var(--text-secondary1);
  box-sizing: border-box;
  width: 128px;
  height: 1px;
  flex-shrink: 0;
}
.am-container {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.sold {
  position: relative;
}
.block12,
.block22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block22 {
  overflow: hidden;
  align-items: flex-end;
}
.details-section-inner {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.block32 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.details-section2,
.title-section2 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.details-section2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.title-section2 {
  text-decoration: none;
  border-radius: var(--br-2xs) var(--br-2xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  color: inherit;
}
.order-brief-section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
}
.width-controller2 {
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section2 {
  align-self: stretch;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mini-button4 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.delist-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-lg);
  background-color: var(--text-primary-dark1);
  border-radius: var(--br-lg);
  height: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.itemactions1,
.ordercard2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemactions1 {
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-7xs) 0;
  gap: var(--gap-md);
}
.ordercard2 {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  flex-direction: column;
  padding: var(--padding-6xs);
  text-align: right;
  font-size: var(--caption-size);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
