.price-and-collateral {
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 320px;
}
.sellatprice {
  border: 0;
  background-color: transparent;
}
.worth-in-dollar {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sellatprice-parent,
.worth-in-dollar-100-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.worth-in-dollar-100-wrapper {
  width: 320px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.sellatprice-parent {
  flex-direction: column;
}
.collateral-worth-label5,
.collateral-worth-label6,
.limitoftrade {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.limitoftrade {
  width: 320px;
  padding: var(--padding-6xs) 0;
  box-sizing: border-box;
  font-size: var(--body-s-size);
}
.collateral-worth-label5,
.collateral-worth-label6 {
  width: 300px;
}
.collateral-worth-label6 {
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--uppercase-small-size);
}
.collateralcount-child {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 299px;
  height: 1px;
  flex-shrink: 0;
}
.collateral-worth-label11 {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div22 {
  position: relative;
  font-size: var(--uppercase-small-size);
  letter-spacing: 0.41px;
  line-height: 18px;
}
.collateral-worth-label12,
.collateralcount1 {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.collateralcount1 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  width: 320px;
  flex-direction: column;
  padding: var(--padding-6xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-2xs);
  font-size: var(--body-semibold-size);
}
.primary-button6 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.reviewtheorder {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-6xl);
  background-color: var(--primary);
  border-radius: var(--br-lg);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.reviewtheorder:disabled {
  background-color: var(--color-gainsboro-400);
}
.priceandcollateralform {
  background-color: var(--color-white);
  width: 373px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--caption-size);
  color: var(--black-000000100);
  font-family: var(--caption);
}
