.price-and-collateral {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
  width: 296px;
}
.price-and-collateral,
.set-the-price {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.set-the-price-one-parent {
  width: 321px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.sellatprice {
  border: 0;
  background-color: transparent;
}
.amount {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  width: 292px;
}
.limitoftrade {
  width: 322px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--body-b-size);
}
.collateral-section,
.collateral-worth-label {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collateral-worth-label {
  width: 314px;
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-md);
}
.collateral-section {
  flex-direction: column;
  padding: var(--padding-4xs);
  gap: var(--gap-5xs);
}
.primary-button3 {
  position: relative;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
}
.reviewtheorder {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xl);
  background-color: var(--primary);
  border-radius: var(--br-xl);
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.reviewtheorder:disabled {
  background-color: var(--color-gray-100);
}
.priceandcollateralform {
  background-color: var(--color-white1);
  width: 373px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black-000000100);
  font-family: var(--headline-s1);
}
