.lyralogoblueicon2 {
  position: relative;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  object-fit: cover;
}
.lyralogoblueicon-container,
.put-your-product1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.lyralogoblueicon-container {
  border-radius: var(--br-xs);
  background-color: var(--white);
  width: 162px;
  height: 162px;
  flex-direction: row;
  padding: var(--padding-8xl);
  box-sizing: border-box;
}
.put-your-product1 {
  position: relative;
  font-size: var(--body-semibold-size);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--text-dark-601);
  text-align: center;
  width: 155px;
}
.name-bm1 {
  width: 155px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1,
.nft-showing-item1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content1 {
  width: 155px;
  align-items: center;
}
.nft-showing-item1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-end;
  gap: var(--gap-sm);
}
