.lyralogoblueicon {
  position: relative;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  object-fit: cover;
}
.lyralogoblueiconWrapper,
.putYourProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.lyralogoblueiconWrapper {
  border-radius: var(--br-xs);
  background-color: var(--white1);
  width: 162px;
  height: 162px;
  flex-direction: row;
  padding: var(--padding-8xl);
  box-sizing: border-box;
}
.putYourProduct {
  position: relative;
  font-size: var(--body-semibold-size);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--text-dark-60);
  text-align: center;
  width: 155px;
}
.content,
.nameBm,
.nftShowingItem {
  display: flex;
  justify-content: flex-start;
}
.nameBm {
  width: 155px;
  flex-direction: row;
  align-items: flex-start;
}
.content,
.nftShowingItem {
  flex-direction: column;
}
.content {
  width: 155px;
  align-items: center;
}
.nftShowingItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-end;
  gap: var(--gap-sm);
}
