.icbaseline-generating-tokens-icon3 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.token2 {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  font-family: var(--headline-s1);
  color: var(--color-white1);
  text-align: center;
  width: 71px;
}
.select-token-catalog-button,
.token-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select-token-catalog-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xl) var(--padding-5xl);
  background-color: var(--tertiary);
  border-radius: var(--br-xs);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
