.icbaseline-generating-tokens-icon3 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-inner {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--text-primary-dark1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.open2 {
  position: relative;
  font-size: var(--caption1-size);
  font-family: var(--font-calibri);
  color: var(--color-white1);
  text-align: center;
}
.order-status2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image2,
.order-banner2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-inner {
  position: relative;
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt3 {
  position: relative;
  text-align: left;
}
.block32,
.block42,
.sell-group {
  display: flex;
  justify-content: flex-start;
}
.sell-group {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.block32,
.block42 {
  overflow: hidden;
  flex-direction: column;
}
.block32 {
  padding: 0 0 var(--padding-8xs);
  align-items: flex-start;
}
.block42 {
  align-items: flex-end;
}
.price2 {
  position: relative;
  display: inline-block;
  width: 66px;
}
.block12 {
  width: 55px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b {
  position: relative;
}
.block22 {
  width: 73px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-green-200);
}
.details-section-inner {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.details-section2,
.title-section2 {
  display: flex;
  justify-content: flex-start;
}
.details-section2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
  font-size: var(--caption1-size);
}
.title-section2 {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.order-brief-section2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.width-controller2 {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section2 {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userprofilesection-child {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.the-first-dao {
  position: relative;
  font-size: var(--caption1-size);
}
.a-big-seller-parent,
.frame-div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-big-seller-parent {
  flex: 1;
  padding: var(--padding-8xs) var(--padding-9xl) var(--padding-8xs) 0;
  align-items: flex-start;
}
.frame-div {
  padding: var(--padding-8xs) var(--padding-5xs);
  align-items: flex-end;
}
.ordercard2,
.userprofilesection {
  background-color: var(--color-white1);
  display: flex;
  justify-content: flex-start;
}
.userprofilesection {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
  font-size: var(--font-size-3xl);
}
.ordercard2 {
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
