.fluentmail-inbox-arrow-up-20-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image2 {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--sell1);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.success1 {
  position: relative;
  font-size: var(--caption-size);
  font-family: var(--regular-body1);
  color: var(--white1);
  text-align: center;
}
.order-status2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image2,
.order-banner2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.send,
.tetherusdt-lyr {
  position: relative;
}
.tetherusdt-lyr {
  text-align: left;
}
.send-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-3xl);
  font-family: var(--regular-body1);
}
.title-section-inner {
  position: relative;
  border-top: 1px solid var(--text-secondary1);
  box-sizing: border-box;
  width: 128px;
  height: 1px;
  flex-shrink: 0;
}
.am-frame,
.block12,
.block22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.am-frame {
  align-self: stretch;
  background-color: var(--white1);
  overflow: hidden;
  flex-direction: row;
  text-align: left;
}
.block12,
.block22 {
  flex-direction: column;
}
.block22 {
  overflow: hidden;
  align-items: flex-end;
}
.details-section-inner {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.details-section2,
.title-section2 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.details-section2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.title-section2 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
}
.order-brief-section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
}
.width-controller2 {
  position: relative;
  border-top: 1px solid var(--black-0000001001);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.ordercard2,
.trades-section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trades-section2 {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.ordercard2 {
  position: absolute;
  top: 735px;
  left: -1px;
  border-radius: var(--br-xs);
  background-color: var(--white1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-4xs);
  gap: var(--gap-5xs);
  text-align: right;
  font-size: var(--caption-size);
  color: var(--black-0000001001);
  font-family: var(--font-source-sans-pro);
}
