@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.sign-trade-secret1,
.to-protect-privacy1 {
  position: relative;
  letter-spacing: 0.41px;
  display: inline-block;
}
.sign-trade-secret1 {
  line-height: 28px;
  font-weight: 500;
  width: 296px;
}
.to-protect-privacy1 {
  font-size: var(--body-semibold-size);
  line-height: 18px;
  width: 292px;
}
.signtradesecretdialog,
.tot-description1 {
  overflow: hidden;
  display: flex;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  justify-content: flex-start;
  font-family: var(--regular-body1);
}
.tot-description1 {
  border: 0;
  background-color: var(--color-lightyellow);
  font-size: var(--body-m1-size);
  border-radius: var(--br-2xs);
  width: 301px;
  height: 124px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
}
.signtradesecretdialog {
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2xl);
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--black-0000001001);
}
.signtradesecretdialog.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
