.frameChild,
.sell {
  position: relative;
}
.frameChild {
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt {
  position: relative;
  text-align: left;
}
.block3,
.block4,
.sellParent {
  display: flex;
  justify-content: flex-start;
}
.sellParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.block3,
.block4 {
  overflow: hidden;
  flex-direction: column;
}
.block3 {
  padding: 0 0 var(--padding-8xs);
  align-items: flex-start;
}
.block4 {
  align-items: flex-end;
}
.price {
  position: relative;
  display: inline-block;
  width: 66px;
}
.block1,
.block2 {
  width: 55px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block2 {
  width: 73px;
  overflow: hidden;
  align-items: flex-end;
  font-size: var(--font-size-7xl);
  color: var(--color-forestgreen);
}
.detailsSectionChild {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.detailsSection,
.titleSection {
  display: flex;
  justify-content: flex-start;
}
.detailsSection {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
  font-size: var(--caption-size);
}
.titleSection {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
  text-align: right;
  font-size: var(--font-size-3xl);
  color: var(--black-0000001001);
  font-family: var(--font-calibri);
}
