.nft {
  position: relative;
  font-size: var(--body-semibold-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.nft-tab {
  overflow: hidden;
}
.nft-tab,
.tokentab {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) 0 0;
  background-color: var(--text-secondary1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.catalogtab,
.tradableorderssection1 {
  background-color: var(--color-whitesmoke-200);
  display: flex;
  align-items: center;
}
.catalogtab {
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xs);
}
.tradableorderssection1 {
  align-self: stretch;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-6xs) 0;
  justify-content: flex-start;
}
