.iconleft {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
}
.mini-programs-buttons,
.title5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.mini-programs-buttons {
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.title5 {
  flex: 1;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--caption);
  color: var(--black-000000100);
  text-align: center;
  display: inline-block;
}
.stroke {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 0.5px solid var(--black-000000100);
  box-sizing: border-box;
  opacity: 0.08;
}
.ellipse-icon {
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 5%;
  bottom: 6.25%;
  left: 7.5%;
  max-width: 100%;
  max-height: 100%;
}
.ellipse-icon,
.ellipse-icon1,
.home {
  position: absolute;
  overflow: hidden;
}
.ellipse-icon1 {
  height: 30%;
  width: 30%;
  top: 35%;
  right: 33.75%;
  bottom: 35%;
  left: 36.25%;
  max-width: 100%;
  max-height: 100%;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6px;
  left: 55px;
  width: 20px;
  height: 20px;
}
.separator-icon {
  position: absolute;
  top: 6.65px;
  left: 43.33px;
  width: 0.35px;
  height: 18.7px;
  opacity: 0.2;
}
.contextplus-child,
.contextplus-inner,
.contextplus-item {
  position: absolute;
  height: 76.67%;
  width: 76.67%;
  top: 11.67%;
  right: 11.67%;
  bottom: 11.67%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contextplus-inner,
.contextplus-item {
  height: 10%;
  width: 35%;
  top: 45%;
  right: 32.5%;
  bottom: 45%;
  left: 32.5%;
  border-radius: var(--br-5xs);
}
.contextplus-inner {
  height: 35%;
  width: 10%;
  top: 32.5%;
  right: 45%;
  bottom: 32.5%;
  left: 45%;
}
.contextplus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 12px;
  width: 20px;
  height: 20px;
}
.mini-programs-buttons1 {
  position: relative;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
}
.topnavigationbar {
  background-color: var(--white);
  width: 375px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs) var(--padding-6xs)
    var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
