.mini-programs-buttons {
  position: relative;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.title {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.mini-programs-buttons1 {
  position: relative;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--black-000000100);
  font-family: var(--font-open-sans);
}
