.mini-programs-buttons {
  position: relative;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.title {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--black-000000100);
  text-align: center;
  display: inline-block;
}
.stroke {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 0.5px solid var(--black-000000100);
  box-sizing: border-box;
  opacity: 0.08;
}
.ellipse-icon {
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 5%;
  bottom: 6.25%;
  left: 7.5%;
  max-width: 100%;
  max-height: 100%;
}
.ellipse-icon,
.ellipse-icon1,
.home {
  position: absolute;
  overflow: hidden;
}
.ellipse-icon1 {
  height: 30%;
  width: 30%;
  top: 35%;
  right: 33.75%;
  bottom: 35%;
  left: 36.25%;
  max-width: 100%;
  max-height: 100%;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6px;
  left: 55px;
  width: 20px;
  height: 20px;
}
.ellipse-icon2,
.ellipse-icon3,
.ellipse-icon4 {
  position: absolute;
  height: 32.5%;
  width: 32.5%;
  top: 33.75%;
  right: 33.75%;
  bottom: 33.75%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-icon3,
.ellipse-icon4 {
  height: 20%;
  width: 20%;
  top: 40%;
  right: 77.5%;
  bottom: 40%;
  left: 2.5%;
}
.ellipse-icon4 {
  right: 2.5%;
  left: 77.5%;
}
.share {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 13px;
  width: 20px;
  height: 20px;
}
.separator-icon {
  position: absolute;
  top: 6.65px;
  left: 43.32px;
  width: 0.35px;
  height: 18.7px;
  opacity: 0.2;
}
.mini-programs-buttons1 {
  position: relative;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
