.icbaseline-generating-tokens-icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-item {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image1 {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--buy1);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.open1 {
  position: relative;
  font-size: var(--caption-size);
  font-family: var(--font-calibri);
  color: var(--color-white);
  text-align: center;
}
.order-status1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-11xs);
  align-items: center;
  justify-content: center;
}
.banner-image1,
.order-banner1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-child3,
.trade {
  position: relative;
}
.frame-child3 {
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt3 {
  position: relative;
  text-align: left;
}
.trade-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
}
.title-section-child {
  position: relative;
  border-top: 1px solid var(--text-secondary1);
  box-sizing: border-box;
  width: 128px;
  height: 1px;
  flex-shrink: 0;
}
.am-wrapper,
.block11,
.block21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.am-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  text-align: left;
}
.block11,
.block21 {
  flex-direction: column;
}
.block21 {
  overflow: hidden;
  align-items: flex-end;
}
.details-section-item {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.block31 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.details-section1,
.title-section1 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.details-section1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.title-section1 {
  text-decoration: none;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  color: inherit;
}
.order-brief-section1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
}
.width-controller1 {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.trades-section1 {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mini-button {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--caption);
  color: var(--color-white);
  text-align: center;
}
.delist-button,
.itemactions {
  display: flex;
  flex-direction: row;
}
.delist-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--text-primary-dark);
  border-radius: var(--br-lg);
  height: 24px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.itemactions {
  align-self: stretch;
  padding: var(--padding-8xs) var(--padding-8xs) 0;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-md);
}
.ordercard1 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--caption-size);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
