.icbaseline-generating-tokens-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.order-image-child {
  position: relative;
  width: 19.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.order-image {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--buy1);
  border-radius: var(--br-md) var(--br-md) 0 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.open {
  position: relative;
  font-size: var(--caption1-size);
  font-family: var(--font-calibri);
  color: var(--color-white1);
  text-align: center;
}
.order-status {
  align-self: stretch;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--info1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-10xs);
  align-items: center;
  justify-content: center;
}
.banner-image,
.order-banner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-image {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-child,
.trade {
  position: relative;
}
.frame-child {
  width: 12.5px;
  height: 7.36px;
  flex-shrink: 0;
}
.tetherusdt1 {
  position: relative;
  text-align: left;
}
.trade-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-xl);
}
.title-section-child {
  position: relative;
  border-top: 1px solid var(--text-secondary1);
  box-sizing: border-box;
  width: 128px;
  height: 1px;
  flex-shrink: 0;
}
.am-wrapper,
.block1,
.block2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.am-wrapper {
  align-self: stretch;
  background-color: var(--color-white1);
  overflow: hidden;
  flex-direction: row;
  text-align: left;
}
.block1,
.block2 {
  flex-direction: column;
}
.block2 {
  overflow: hidden;
  align-items: flex-end;
}
.details-section-child {
  position: relative;
  width: 4px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.block3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.details-section,
.title-section {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.details-section {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.title-section {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
}
.order-brief-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.width-controller {
  position: relative;
  border-top: 1px solid var(--black-000000100);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
  flex-shrink: 0;
}
.ordercard,
.trades-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trades-section {
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.ordercard {
  border-radius: var(--br-md);
  background-color: var(--color-white1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-5xs);
  gap: var(--gap-4xs);
  text-align: right;
  font-size: var(--caption1-size);
  color: var(--black-000000100);
  font-family: var(--font-calibri);
}
