.rectangle4 {
  flex: 1;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--secondary1);
  width: 5px;
}
.rectangle-frame,
.wallet-card-inner3 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-frame {
  overflow: hidden;
  flex-direction: column;
}
.wallet-card-inner3 {
  width: 18px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
}
.wallet-name-label2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-4xl);
  font-weight: 700;
  font-family: var(--caption);
  color: var(--white);
  text-align: right;
  display: inline-block;
  width: 206px;
}
.line-div {
  position: relative;
  border-top: 1px solid var(--info1);
  box-sizing: border-box;
  width: 126px;
  height: 1px;
  flex-shrink: 0;
}
.usdtbalance2 {
  position: relative;
  letter-spacing: 0.3px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
}
.balance-display-zone-child1 {
  position: relative;
  background-color: var(--color-gainsboro-500);
  width: 22px;
  height: 2px;
  flex-shrink: 0;
}
.usdtlabel {
  position: relative;
  font-size: var(--uppercase-small-size);
  letter-spacing: 0.3px;
  color: var(--secondary1);
  text-align: left;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
}
.balance-display-zone2 {
  text-decoration: none;
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-7xs) var(--padding-4xs) 0;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  color: inherit;
}
.qrcode-button-round2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-silver-100);
  opacity: 0.5;
  mix-blend-mode: normal;
}
.qrcode-icon2 {
  position: absolute;
  top: 14.33px;
  right: 14.07px;
  width: 29px;
  height: 29px;
}
.qrcode-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 56.78px;
  height: 56.78px;
  flex-shrink: 0;
  overflow: hidden;
}
.balance-display-zone-container,
.qrcode-button-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.qrcode-button-frame {
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-4xs)
    var(--padding-4xs);
}
.balance-display-zone-container {
  flex: 1;
}
.nft-count,
.nft-label {
  position: relative;
  font-family: var(--caption);
  text-align: center;
}
.nft-count {
  font-size: var(--font-size-2xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  color: var(--white);
}
.nft-label {
  font-size: var(--uppercase-small-size);
  color: var(--secondary1);
}
.go-nft-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs);
}
.token-lists {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-3xl);
}
.frame-parent2,
.wallet-card2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
}
.wallet-card2 {
  border-radius: var(--br-xs);
  background-color: var(--primary1);
  height: 217px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--caption);
}
