@import url("https://fonts.googleapis.com/css2?family=Myriad+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-myriad-pro: "Myriad Pro";
  --caption1: "SF Pro Display";
  --font-sf-pro-text: "SF Pro Text";

  /* font sizes */
  --font-size-4xs: 10px;
  --other-11-size: 11px;
  --caption1-size: 12px;
  --regular-body-size: 13px;
  --font-size-sm: 14px;
  --body-s-size: 15px;
  --font-size-lg: 16px;
  --headline-s1-size: 17px;
  --font-size-2xl: 18px;
  --font-size-3xl: 20px;
  --font-size-4xl: 24px;
  --large-title1-size: 34px;

  /* Colors */
  --color-white1: #fff;
  --black-000000100: #000;
  --tertiary: #1ec8a5;
  --color-coral: #fa7268;
  --secondary: #ff4081;
  --color-beige: #f6ffde;
  --primary: #594ae2;
  --color-gray-100: #e5e5e5;
  --color-gray-200: #dfe0e5;
  --color-gray-300: #b6e0ff;
  --color-gray-11: #7f8592;
  --color-black1: #1b2749;
  --color-no: rgba(216, 216, 216, 0);

  /* Gaps */
  --gap-0: 0px;
  --gap-xs: 1px;
  --gap-sm: 10px;
  --gap-md: 18px;
  --gap-lg: 39px;
  --gap-xl: 50px;

  /* Paddings */
  --padding-5xs: 10px;
  --padding-4xs: 11px;
  --padding-3xs: 14px;
  --padding-2xs: 15px;
  --padding-xs: 16px;
  --padding-sm: 18px;
  --padding-md: 19px;
  --padding-lg: 20px;
  --padding-xl: 22px;
  --padding-2xl: 25px;
  --padding-3xl: 28px;
  --padding-4xl: 32px;

  /* border radiuses */
  --br-2xs: 2.5px;
  --br-xs: 5px;
  --br-sm: 8px;
  --br-md: 10px;
  --br-lg: 21px;
  --br-xl: 25px;
  --br-2xl: 32.5px;
}
