@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --regular-body1: "Open Sans";
  --font-source-sans-pro: "Source Sans Pro";
  --uppercase-small: Poppins;
  --base-1-semibold: Inter;
  --font-roboto: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --uppercase-small-size: 10px;
  --caption-size: 12px;
  --regular-body1-size: 13px;
  --body-semibold-size: 14px;
  --body-m1-size: 15px;
  --font-size-3xl: 16px;
  --font-size-4xl: 18px;
  --font-size-5xl: 18.7px;
  --font-size-6xl: 20px;
  --font-size-7xl: 22px;
  --font-size-8xl: 24px;
  --font-size-9xl: 30px;
  --font-size-10xl: 32px;

  /* Colors */
  --white1: #fff;
  --subtitle-text: #888;
  --color-gray-200: #04021d;
  --color-gray-300: rgba(0, 0, 0, 0.05);
  --text-secondary1: rgba(0, 0, 0, 0.54);
  --color-gray-500: rgba(0, 0, 0, 0.32);
  --selectable1: rgba(255, 255, 255, 0);
  --primary-text1: #434343;
  --text-primary-dark1: #424242;
  --color-darkslategray-300: #383838;
  --color-darkslategray-400: #292c33;
  --default-black: #272c34;
  --primary1: #0ebd8d;
  --black-0000001001: #000;
  --color-gainsboro-100: #e3e4e5;
  --button-secondary-active: #e2e3e4;
  --color-gainsboro-300: #dfe0e5;
  --color-gainsboro-400: #e0e0e0;
  --color-gainsboro-500: #dfdfdf;
  --color-gainsboro-600: rgba(217, 217, 217, 0);
  --color-forestgreen: #008d30;
  --info1: #2196f3;
  --color-whitesmoke-100: #f8f8fa;
  --color-whitesmoke-200: #f5f4f5;
  --color-whitesmoke-300: #ececec;
  --color-whitesmoke-400: rgba(238, 238, 238, 0.26);
  --color-lightyellow: #f6ffde;
  --color-blueviolet: #554af0;
  --accent-strong-blue-60: #9992f6;
  --color-dimgray-100: #717171;
  --text-dark-60: #686777;
  --color-dimgray-300: #656565;
  --tertiary1: #1ec8a5;
  --color-mediumslateblue: #766ae7;
  --secondary1: #fc7c00;
  --color-darkgray: #979797;
  --buy1: #7ed321;
  --sell1: #fa7268;
  --color-silver-100: rgba(209, 190, 190, 0.47);

  /* Gaps */
  --gap-6xs: 1px;
  --gap-5xs: 2px;
  --gap-4xs: 3px;
  --gap-3xs: 4px;
  --gap-2xs: 5px;
  --gap-xs: 6px;
  --gap-sm: 8px;
  --gap-md: 10px;
  --gap-lg: 12px;
  --gap-xl: 16px;
  --gap-2xl: 18px;
  --gap-3xl: 20px;
  --gap-4xl: 24px;
  --gap-5xl: 26px;
  --gap-6xl: 32px;

  /* Paddings */
  --padding-10xs: 2px;
  --padding-9xs: 3px;
  --padding-8xs: 4px;
  --padding-7xs: 5px;
  --padding-6xs: 6px;
  --padding-5xs: 8px;
  --padding-4xs: 10px;
  --padding-3xs: 11px;
  --padding-2xs: 12px;
  --padding-xs: 13px;
  --padding-sm: 15px;
  --padding-md: 16px;
  --padding-lg: 17px;
  --padding-xl: 18px;
  --padding-2xl: 19px;
  --padding-3xl: 20px;
  --padding-4xl: 22px;
  --padding-5xl: 25px;
  --padding-6xl: 28px;
  --padding-7xl: 32px;
  --padding-8xl: 33px;
  --padding-9xl: 84px;

  /* border radiuses */
  --br-6xs: 2px;
  --br-5xs: 2.5px;
  --br-4xs: 4px;
  --br-3xs: 5px;
  --br-2xs: 8px;
  --br-xs: 10px;
  --br-sm: 12px;
  --br-md: 16px;
  --br-lg: 25px;
  --br-xl: 26px;
  --br-2xl: 32.5px;
  --br-3xl: 48px;
  --br-4xl: 100px;
  --br-5xl: 10000px;

  /* Effects */
  --borders-05-dp-top: 0px 0.5px 0px #e2e3e4 inset;
  --inner-shadow: 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
}
